@use '~@mezzanine-ui/system/z-index';
@use './portal' as *;

.#{$prefix} {
  &-default {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: z-index.get(modal);
    pointer-events: none;

    * {
      box-sizing: border-box;
      pointer-events: auto;
    }
  }

  &-alert {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: z-index.get(feedback);
  }
}