@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use '../button';
@use './tabs' as *;

$gap: 32px !default;
$margin-bottom: 32px !default;
$tab-height: 48px !default;
$tab-min-width: 32px !default;
$tab-padding: 8px 0 !default;

.#{$prefix} {
  color: palette.color(text-primary);
  box-sizing: border-box;

  &__tab-bar {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $margin-bottom;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      z-index: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: palette.color(border);
    }
  }

  &--overflow {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
  }

  &__tabs {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    justify-content: left;
    column-gap: $gap;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox specific */

    &::-webkit-scrollbar {
      display: none;
      -webkit-overflow-scrolling: touch;
    }

    &:last-child {
      padding-right: 20px;
    }
  }

  &__scroll-btn {
    @include button.reset();

    color: palette.color(action-inactive);
    background-color: transparent;
    font-size: 40px;
    width: 40px;
    height: 44px;

    &:hover {
      background-color: palette.color(primary-hover-bg);
      color: palette.color(primary);
    }

    &:focus,
    &:active {
      background-color: palette.color(primary-active-bg);
    }
  }

  &__tab {
    @include button.reset();
    @include typography.variant(button2);

    min-width: $tab-min-width;
    height: $tab-height;
    color: palette.color(action-inactive);
    padding: $tab-padding;
    box-sizing: border-box;

    &--active {
      color: palette.color(primary);

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: palette.color(primary);
      }
    }

    &:hover:enabled {
      color: palette.color(primary);
    }

    &:disabled {
      border: none;
      color: palette.color(action-disabled);
      cursor: default;
      pointer-events: none;
    }
  }

  &__pane {
    box-sizing: border-box;
  }
}
