@use 'sass:map';
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/spacing';
@use '../text-field';
@use './select' as *;

$popper-vertical-padding: 4px !default;
$popper-horizontal-padding: 0 !default;

.#{$prefix} {
  position: relative;

  &--full-width {
    width: 100%;
  }
}

.#{$tree-select-prefix} {
  position: relative;
}

.#{$trigger-prefix} {
  cursor: pointer;

  &__input {
    appearance: none;
    min-width: 0;
    padding: 0;
  }

  &--readonly {
    cursor: default;
  }

  &--multiple.#{$trigger-prefix}--selected {
    padding: spacing.semantic-variable(padding, vertical, tiny)
      spacing.semantic-variable(padding, horizontal, cozy)
      spacing.semantic-variable(padding, horizontal, tiny)
      spacing.semantic-variable(padding, vertical, tiny);
    gap: spacing.semantic-variable(gap, slim);

    .#{$trigger-prefix}__input {
      position: absolute;
      inset: 0;
      z-index: -1;
    }
  }
}

.#{$trigger-prefix}__tags-input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  flex-wrap: wrap;

  &--ellipsis {
    flex-wrap: nowrap;
  }
}

.#{$trigger-prefix} {
  &__tags-input-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

    &--ellipsis {
      flex-wrap: unset;
    }
  }

  &__tags-input {
    flex: 1;
    min-width: 30%;
  }

  &__tags {
    width: auto;
    max-width: calc(
      100% - var(--#{text-field.$prefix}-prefix-x-gap) - var(
          --#{text-field.$prefix}-icon-size
        )
    );
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-self: flex-start;

    &--ellipsis {
      flex-wrap: unset;
    }
  }

  & &__suffix-action-icon {
    transition:
      transition.standard(transform), transition.standard(color),
      transition.standard(opacity);
    will-change: transform, color, opacity;

    &--active {
      transform: rotate(180deg);
    }
  }
}

.#{$popper-prefix} {
  width: auto;
  padding: $popper-vertical-padding $popper-horizontal-padding;
  background-color: palette.color(surface);
  color: palette.color(text-primary);
  box-sizing: border-box;
}

.#{$tree-prefix} {
  box-sizing: border-box;
  padding: 0 8px;
}

.#{$autocomplete-prefix} {
  width: 100%;
  height: 32px;
  padding: 0 12px 0 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: palette.color(bg);
  box-sizing: border-box;
  text-align: left;
  cursor: pointer;

  p {
    flex: 1;
    margin: 0;
    color: palette.color(text-primary);

    @include typography.variant(input2);
  }

  &__icon {
    font-size: 24px;
    color: palette.color(text-secondary);
  }
}
