@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/spacing';
@use './page-footer' as *;

.#{$prefix} {
  width: 100%;
  padding: spacing.semantic-variable(padding, vertical, base) spacing.semantic-variable(padding, horizontal, comfort-fixed);
  background-color: palette.semantic-variable("background", base);
  display: flex;
  align-items: center;
  gap: spacing.semantic-variable(gap, comfort);
  box-sizing: border-box;

  &__annotation {
    width: auto;
  }

  &__message {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
