@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/spacing';
@use './page-footer' as *;

.#{$prefix} {
  height: 32px;
  padding: spacing.level(4) spacing.level(5);
  border-top: 1px solid palette.color(border);
  background-color: palette.color(surface);
  display: flex;
  align-items: center;
  justify-content: space-between;

  div:first-child {
    margin-right: spacing.level(2);
    overflow: hidden;
  }
}
