@use 'sass:map';
@use '~@mezzanine-ui/system/typography';
@use '../icon';
@use '../popover';

$prefix: mzn-popconfirm;

$default-options: (
  popover: popover.$default-options,
  min-width: 244px,
  title-icon-size: 24px,
  title-icon-gap: 8px,
  content-margin-top: 16px,
);

@mixin core($options: ()) {
  $options: map.deep-merge($default-options, $options);
  $popover-options: map.get($options, popover);
  $min-width: map.get($options, min-width);
  $title-icon-size: map.get($options, title-icon-size);
  $title-icon-gap: map.get($options, title-icon-gap);
  $content-margin-top: map.get($options, content-margin-top);

  @include popover.core($popover-options);

  .#{$prefix} {
    min-width: $min-width;

    .#{popover.$prefix}__title {
      display: flex;
      align-items: center;

      .#{icon.$prefix} {
        font-size: typography.px-to-rem($title-icon-size);
        margin-right: $title-icon-gap;
      }
    }

    .#{popover.$prefix}__content {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: $content-margin-top;
    }
  }
}
