@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use '../popover';
@use './popconfirm' as *;

$min-width: 244px !default;
$title-icon-size: 24px !default;
$title-icon-gap: 8px !default;
$content-margin-top: 16px !default;

.#{$prefix} {
  min-width: $min-width;

  &__icon {
    color: palette.color(primary);
    font-size: typography.px-to-rem($title-icon-size);
    margin-right: $title-icon-gap;
  }

  .#{popover.$prefix}__title {
    display: flex;
    align-items: center;
  }

  .#{popover.$prefix}__content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: $content-margin-top;
  }
}
