$prefix: mzn-slider;
$slider-prefix: #{$prefix}__slider;
$rail-prefix: #{$prefix}__rail;
$track-prefix: #{$prefix}__track;
$handler-prefix: #{$prefix}__handler;

$handler-position-prefix: #{$handler-prefix}__position;
