$prefix: mzn-slider;
$slider-prefix: #{$prefix}__slider;
$rail-prefix: #{$prefix}__rail;
$track-prefix: #{$prefix}__track;
$handler-prefix: #{$prefix}__handler;
$handler-tooltip-prefix: #{$handler-prefix}__tooltip;
$handler-position-prefix: #{$handler-prefix}__position;
$icon-prefix: #{$prefix}__icon;
