@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system/spacing';
@use './progress' as *;

$circle-icon-size: 24px !default;
$info-margin-left: #{spacing.level(2)} !default;
$info-percent-color: #{palette.color(text-primary)} !default;
$info-width: 30px !default;
$large-line-height: 8px !default;
$line-icon-size: 24px !default;
$medium-line-height: 8px !default;
$margin: #{spacing.level(2)} !default;
$small-line-height: 4px !default;

@mixin cross-axle-center() {
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  display: flex;
}

.#{$prefix} {
  --#{$prefix}-bg-color: #{palette.color(border)};
  --#{$prefix}-color: #{palette.color(primary)};

  align-items: center;
  box-sizing: border-box;
  color: var(--#{$prefix}-color);
  display: flex;
  justify-content: center;
  margin: #{$margin};
  position: relative;
  width: 100%;

  &--circle {
    --#{$prefix}-icon-size: #{$circle-icon-size};
    --#{$prefix}-info-icon-position: absolute;
    --#{$prefix}-info-justify: center;
  }

  @mixin circle-svg() {
    box-sizing: border-box;
    fill-opacity: 0;
  }

  &__circle-bg {
    @include circle-svg();

    stroke: var(--#{$prefix}-bg-color);
  }

  &__circle-filler {
    @include circle-svg();

    stroke: var(--#{$prefix}-color);
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
    transition: transition.standard(stroke-dasharray);
  }

  &--line {
    --#{$prefix}-icon-size: #{$line-icon-size};
    --#{$prefix}-info-justify: start;
    --#{$prefix}-info-margin-left: #{$info-margin-left};
  }

  &__line-bg {
    background-color: var(--#{$prefix}-bg-color);
    box-sizing: border-box;
    height: var(--#{$prefix}-line-height);
    width: 100%;
  }

  // line filler
  &__line-bg > div {
    background-color: var(--#{$prefix}-color);
    box-sizing: border-box;
    height: var(--#{$prefix}-line-height);
    transition: transition.standard(width);
  }

  // include percent <Typography /> and icon
  &__info {
    height: var(--#{$prefix}-icon-size);
    justify-content: var(--#{$prefix}-info-justify);
    margin-left: var(--#{$prefix}-info-margin-left);
    position: var(--#{$prefix}-info-icon-position);
    width: #{$info-width};
    @include cross-axle-center();
  }

  &__info-percent {
    box-sizing: border-box;
    color: #{$info-percent-color};
  }

  &__info-icon {
    height: var(--#{$prefix}-icon-size);
    width: var(--#{$prefix}-icon-size);
  }

  &--success {
    --#{$prefix}-color: #{palette.color(success)};
    --#{$prefix}-info-justify: center;
  }

  &--error {
    --#{$prefix}-color: #{palette.color(error)};
    --#{$prefix}-info-justify: center;
  }

  &--small {
    --#{$prefix}-line-height: #{$small-line-height};
  }

  &--medium {
    --#{$prefix}-line-height: #{$medium-line-height};
  }

  &--large {
    --#{$prefix}-line-height: #{$large-line-height};
  }
}
