$prefix: mzn-table;
$scroll-container-prefix: #{$prefix}-scroll-area;
$loading-prefix: #{$prefix}-loading;
$header-prefix: #{$prefix}__header;
$body-prefix: #{$prefix}__body;
$cell-prefix: #{$prefix}__cell;
$resize-handle-prefix: #{$prefix}__resize-handle;
