/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/transition';
@use './table' as *;

$table-header-height: 40px !default;
$table-cell-horizontal-gap: 16px !default;
$table-selections-horizontal-gap: 16px !default;
$table-icon-size: 24px !default;
$table-collapsible-icon-horizontal-gap: 16px !default;
$table-fetch-more-vertical-padding: 12px !default;
$table-pagination-height: 52px !default;
$table-refresh-vertical-padding: 8px !default;

@mixin row($min-height) {
  width: 100%;
  height: auto;
  min-height: $min-height;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border-bottom: 1px solid palette.color(border);
}

@mixin text_color {
  color: palette.color(text-primary);
}

@mixin header_content {
  @include typography.variant(h6);
}

@mixin body_content {
  @include typography.variant(input2);
}

@mixin action_highlight_bg {
  background-color: palette.color(primary-hover-bg);
}

@mixin flexible {
  flex: 1 1 0;
  min-width: 0;
  display: inline-flex;
  align-items: center;
}

@mixin body_bg {
  background-color: palette.color(surface);
}

@mixin icon_size($size) {
  width: $size;
  height: $size;
  font-size: typography.px-to-rem($size);
}

@mixin with-scroll-box-shadow($colorName) {
  &--fixed {
    &:first-child {
      position: sticky;
      z-index: 2;
      left: 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: palette.color(#{$colorName});
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: -1px;
      width: 10px;
      transform: translateX(100%);
      transition: transition.standard(box-shadow);
      content: '';
      pointer-events: none;
    }

    &--stuck {
      &::after {
        box-shadow: inset 8px 0 8px -8px rgb(0 0 0 / 0.25);
      }
    }
  }
}

.#{$loading-prefix} {
  z-index: 4;
}

.#{$container-prefix} {
  width: 100%;
  max-height: var(--table-scroll-y, 'unset');
  position: relative;
  overflow: auto;
  scrollbar-width: thin; /* firefox specific (firefox 只能先用原生的) */

  &::-webkit-scrollbar {
    height: 8px;
    width: 0;

    /* smartphones, touchscreens */
    @media (hover: none) and (pointer: coarse) {
      display: none;
      height: 0;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #6a6a6a;
  }

  &::-webkit-scrollbar-track {
    background: #f2f2f2;
  }
}

.#{$prefix} {
  width: 100%;
  min-width: var(--table-scroll-x, '100%');
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  box-sizing: border-box;

  @include text_color;
  @include body_bg();
}

.#{$header-fixed-prefix} {
  width: 100%;
  min-width: var(--table-scroll-x, '100%');
  position: sticky;
  z-index: 3;
  top: 0;
}

.#{$header-prefix} {
  @include row(40px);
  @include header_content;

  background-color: palette.color(divider);

  &__cellWrapper {
    @include flexible;

    background-color: palette.color(divider);

    @include with-scroll-box-shadow(divider);
  }
}

.#{$body-prefix} {
  position: relative;
  width: 100%;
  min-width: var(--table-scroll-x, '100%');

  &__row {
    @include row(52px);
    @include body_content;
    @include body_bg;

    position: relative;

    &:hover,
    &--highlight {
      .#{$body-prefix} {
        &__row {
          &__cellWrapper {
            @include action_highlight_bg;

            &--fixed {
              @include body_bg;

              &::before {
                @include action_highlight_bg;
              }
            }
          }
        }
      }
    }

    &--drag {
      filter: drop-shadow(0 4px 20px rgb(0 0 0 / 0.25));
    }

    &__cellWrapper {
      @include flexible;
      @include body_bg;
      @include with-scroll-box-shadow(surface);
    }

    &__expandedTableWrapper {
      padding: 0;
    }

    &__expandedTableRow {
      background-color: palette.color(divider);

      &:last-child {
        border-bottom: none;
      }
    }
  }

  &__empty {
    @include body_bg;

    min-height: calc(var(--table-scroll-y, '130px') - 12px - #{$table-header-height});
  }

  &__fetchMore {
    @include row(auto);
    @include body_bg;

    justify-content: center;
    padding: $table-fetch-more-vertical-padding 0;
    border-bottom: none;
  }
}

.#{$cell-prefix} {
  width: 100%;
  padding: 0 $table-cell-horizontal-gap;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

  &__ellipsis {
    width: auto;
    max-width: 100%;
    min-width: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
  }
}

.#{$prefix}__selections {
  padding: 0 $table-selections-horizontal-gap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.#{$prefix}__icon {
  @include icon_size($table-icon-size);

  &--clickable {
    cursor: pointer;

    &:hover {
      @include action_highlight_bg;
    }
  }
}

.#{$prefix}__collapseAction {
  padding: 0 0 0 $table-selections-horizontal-gap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.#{$prefix}__pagination {
  width: 100%;
  height: auto;
  min-height: $table-pagination-height;
  padding: 0 $table-cell-horizontal-gap;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: palette.color(divider);
  box-sizing: border-box;

  &__indicator {
    @include body_content;
  }

  &__actions {
    width: auto;
  }
}

.#{$prefix}__refresh {
  padding: $table-refresh-vertical-padding 0;
}
