@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use './alert' as *;

$box-height: 40px !default;
$icon-size: 24px !default;
$icon-horizontal-padding: 12px !default;
$line-height: typography.prop(body1, line-height) !default;

$icon-width: $icon-size + $icon-horizontal-padding * 2;
$close-icon-width: $icon-size + 12px;

.#{$prefix} {
  display: grid;
  grid-template-columns: $icon-width minmax(0, 1fr) $close-icon-width;
  align-content: start;
  width: 100%;

  &__icon {
    $vertical-padding: #{($box-height - $icon-size) / 2};

    padding: $vertical-padding $icon-horizontal-padding;
    font-size: typography.px-to-rem($icon-size);
  }

  &__close-icon {
    padding: 8px 8px 8px 4px;
    font-size: typography.px-to-rem($icon-size);
    color: palette.color(action-inactive);
    cursor: pointer;

    &:hover,
    &:active {
      color: palette.color(action-active);
    }
  }

  &__message {
    color: palette.color(text-primary);
    margin: 0;
    padding: calc((#{$box-height} - #{$line-height}) / 2) 0;
    word-wrap: break-word;

    @include typography.variant(body1);
  }

  @each $severity in $severities {
    &--#{$severity} {
      background-color: palette.color(#{$severity}-hover-bg);
      color: palette.color($severity);
    }
  }
}
