@use 'sass:map';
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/spacing';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/typography/utils' as utils-typography;
@use './notification' as *;

$height: 40px !default;
$padding-left: 12px !default;
$padding-right: 24px !default;
$icon-size: 24px !default;
$icon-gap: 12px !default;

.#{$prefix} {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  padding: 16px 24px;
  background-color: palette.color(surface);
  border: 1px solid palette.color(primary);
  box-sizing: border-box;
  pointer-events: auto;

  @each $severity in $severities {
    &--#{$severity} {
      --#{$prefix}-color: #{palette.color(if($severity == 'info', primary, $severity))};

      border: 1px solid var(--#{$prefix}-color);
    }
  }

  &__icon-container {
    flex: 0 0;
    margin-right: 12px;
  }

  &__body {
    flex: 1 1;
  }

  &__title {
    padding-right: 48px;
    margin: 0 0 8px;

    @include typography.variant(h4);
  }

  &__content {
    @include typography.variant(body1);
  }

  &__action {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 24px;
  }

  &__severity-icon {
    padding: 2px 0;
    color: var(--#{$prefix}-color);
    font-size: typography.px-to-rem(24px);
  }

  &__close-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: utils-typography.px-to-rem(24px);
    color: palette.color(text-secondary);
    cursor: pointer;

    :hover {
      color: palette.color(text-primary);
    }
  }
}

.#{$root-prefix} {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 16px;
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;

  > *:not(:last-child) {
    margin-bottom: 16px;
  }
}
