$prefix: mzn-description;
$title-prefix: mzn-description-title;
$content-prefix: mzn-description-content;
$group-prefix: mzn-description-group;
$sizes: (main, sub);
$widths: (narrow, wide, stretch, hug);