@use 'sass:map';
@use '~@mezzanine-ui/system/palette' as palette;
@use '~@mezzanine-ui/system/spacing' as spacing;
@use '~@mezzanine-ui/system/typography';
@use './description' as *;

.#{$title-prefix} {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: spacing.semantic-variable(gap, tight);
  color: palette.semantic-variable(text, neutral);

  @each $width in $widths {
    &--#{$width} {
      @if $width == narrow {
        width: spacing.semantic-variable(size, container, compressed);
      }

      @if $width == wide {
        width: spacing.semantic-variable(size, container, snug);
      }

      @if $width == stretch {
        width: auto;
        flex: 1;
      }

      @if $width == hug {
        width: fit-content;
      }
    }
  }

  &__text {
    @include typography.semantic-variable(body);
    color: palette.semantic-variable(text, neutral) !important;
  }
}

.#{$content-prefix} {
  @include typography.semantic-variable(body);
  color: palette.semantic-variable(text, neutral-solid);
  width: fit-content;
}

.#{$group-prefix} {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: flex-start;
  column-gap: spacing.semantic-variable(gap, base);

  &--vertical {
    flex-direction: column;
    row-gap: spacing.semantic-variable(gap, tight);
  }
}