@use '~@mezzanine-ui/system/typography';

@mixin core() {
  .#{typography.$prefix} {
    @each $prop in typography.$base-props {
      #{$prop}: var(--#{typography.$prefix}-base-#{$prop});
    }

    @include typography.smooth-font();

    @each $variant in typography.$variants {
      &--#{$variant} {
        margin: 0;

        @include typography.smooth-font();
        @include typography.variant($variant);
      }
    }

    &--align {
      text-align: var(--#{typography.$prefix}-align);
    }

    &--color {
      color: var(--#{typography.$prefix}-color);
    }

    &--display {
      display: var(--#{typography.$prefix}-display);
    }

    &--ellipsis {
      @include typography.overflow-ellipsis();
    }

    &--nowrap {
      @include typography.nowrap();
    }
  }
}
