
@use '~@mezzanine-ui/system/spacing';
@use './page-toolbar' as *;

.#{$prefix} {
  display: flex;
  width: fit-content;

  &--main {
    gap: spacing.semantic-variable(gap, calm);
  }

  &--sub {
    gap: spacing.semantic-variable(gap, base);
  }
}
