@use '~@mezzanine-ui/system/size';
@use 'sass:list';

$prefix: mzn-tag;
$sizes: (
  list.nth(size.$general-sizes, 1),
  list.nth(size.$general-sizes, 2)
);

$tag-types: (
  static,
  counter,
  overflow-counter,
  dismissable,
  addable
);
