$prefix: mzn-calendar;
$board-prefix: #{$prefix}-board;
$row-prefix: #{$prefix}-row;
$cell-prefix: #{$prefix}-cell;
$button-prefix: #{$prefix}-button;
$twelve-grid-prefix: #{$prefix}-twelve-grid;
$controls-prefix: #{$prefix}-controls;
