@use 'sass:math';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system/spacing';
@use '~@mezzanine-ui/system/effect';
@use '~@mezzanine-ui/system/radius';
@use '../button/utils' as btn-utils;
@use './calendar' as *;

.#{$prefix} {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: radius.variable(roomy);
  box-shadow: effect.variable(shadow, inner-top-and-bottom);
  background-color: palette.semantic-variable("background", base);
  pointer-events: auto;

  * {
    box-sizing: border-box;
  }

  &--no-shadow {
    box-shadow: none;
  }
}

.#{$main-prefix} {
  padding: spacing.semantic-variable(padding, vertical, comfort) spacing.semantic-variable(padding, horizontal, comfort);

  &-with-footer {
    display: inline-flex;
    flex-flow: column;
  }
}

.#{$board-prefix} {
  display: flex;
  flex-flow: row;

  .#{$prefix}--quarter &,
  .#{$prefix}--half-year & {
    flex-flow: column;
  }
}

.#{$week-prefix} {
  height: 100%;
  padding-top: 40px;
  display: flex;
  flex-flow: column;

  &__row {
    width: spacing.semantic-variable(size, element, loose);
    height: spacing.semantic-variable(size, element, loose);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: palette.semantic-variable(separator, neutral-faint);
    }
  }
}

.#{$days-grid-prefix} {
  flex: 1;
  display: grid;
  grid-auto-flow: row;
  gap: spacing.semantic-variable(padding, vertical, micro);
}

.#{$button-prefix} {
  @include btn-utils.reset();

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: none;
  border-radius: radius.variable(base);
  transition: transition.standard(background-color) transition.standard(color) transition.standard(border);

  @include typography.inherit;

  &__annotation {
    @include typography.semantic-variable(annotation);

    text-align: center;
    color: palette.semantic-variable(text, neutral);
  }

  &[aria-disabled='true'] {
    cursor: default;
  }

  &:hover:not(.#{$button-prefix}--disabled):not(.#{$button-prefix}--active) {
    background-color: palette.semantic-variable("background", neutral-faint);
  }

  &--inRange {
    border-radius: 0;
    background-color: palette.semantic-variable("background", brand-faint);
  }

  &--active {
    border-radius: radius.variable(base);
    color: palette.semantic-variable(text, fixed-light);
    background-color: palette.semantic-variable("background", brand);

    .#{$cell-prefix} {
      color: palette.semantic-variable(text, fixed-light);
    }
  }

  &--disabled {
    color: palette.semantic-variable(text, neutral-faint);
    background-color: transparent;
    cursor: default;
  }

  &--inactive {
    color: palette.semantic-variable(text, neutral-faint);
  }

  &:focus-visible {
    outline: none;
    box-shadow: effect.variable(focus, inner);

    &:not(.#{$button-prefix}--active):not(.#{$button-prefix}--inRange) {
      background-color: palette.semantic-variable("background", neutral-faint);
    }
  }
}

.#{$row-prefix} {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  column-gap: 0;
  width: 100%;

  .#{$prefix}--quarter & {
    padding: spacing.semantic-variable(padding, vertical, tiny) 0;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: 32px;
  }

  .#{$prefix}--half-year & {
    padding: spacing.semantic-variable(padding, vertical, tiny) 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 32px;
  }

  &--with-border {
    border-top: 1px solid palette.semantic-variable(separator, neutral-faint);
  }
}

.#{$cell-prefix} {
  --today-dot-color: #{palette.semantic-variable(icon, brand)};
  --#{$cell-prefix}-text-color: #{palette.semantic-variable(text, neutral-solid)};

  position: relative;
  width: spacing.semantic-variable(size, element, loose);
  height: spacing.semantic-variable(size, element, loose);
  color: var(--#{$cell-prefix}-text-color);
  user-select: none;
  transition: transition.standard(color);

  @include typography.semantic-variable(input);

  &--mode-day,
  &--mode-week {
    width: spacing.semantic-variable(size, element, loose);
    height: spacing.semantic-variable(size, element, loose);
  }

  &--mode-month,
  &--mode-half-year,
  &--mode-year {
    width: spacing.semantic-variable(size, element, extra);
    height: spacing.semantic-variable(size, element, loose);
  }

  &--mode-quarter {
    width: spacing.semantic-variable(size, element, wide-expanded);
    height: spacing.semantic-variable(size, element, loose);
  }

  button {
    width: 100%;
    height: 100%;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--weekend {
    --#{$cell-prefix}-text-color: #{palette.semantic-variable(text, brand)};
  }

  &--range-start {
    border-radius: radius.variable(base) 0 0 radius.variable(base);
    background-color: palette.semantic-variable("background", brand-faint);
  }

  &--range-end {
    border-radius: 0 radius.variable(base) radius.variable(base) 0;
    background-color: palette.semantic-variable("background", brand-faint);
  }

  &--active {
    --today-dot-color: #{palette.semantic-variable(icon, fixed-light)};
    --#{$cell-prefix}-text-color: #{palette.semantic-variable(text, neutral-solid)};
  }

  &--disabled {
    --#{$cell-prefix}-text-color: #{palette.semantic-variable(text, neutral-faint)};
  }

  .#{$prefix}--quarter &,
  .#{$prefix}--half-year & {
    padding-top: 32px;
  }

  &--today {
    &::after {
      position: absolute;
      bottom: 7px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%);
      content: '';
      width: spacing.semantic-variable(size, element, micro);
      height: spacing.semantic-variable(size, element, micro);
      border-radius: 1px;
      background-color: var(--today-dot-color);
      pointer-events: none;
    }

    &.#{$cell-prefix}--with-annotation::after {
      bottom: 3px;
    }
  }
}

.#{$twelve-grid-prefix} {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: calc(#{spacing.semantic-variable(padding, vertical, micro)} * 2) 0;
  width: 100%;

  @include typography.semantic-variable(input);

  color: palette.semantic-variable(text, neutral-solid);
}

.#{$controls-prefix} {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  gap: spacing.semantic-variable(gap, tiny);
  position: relative;
  width: 100%;
  box-sizing: border-box;

  &__actions {
    display: flex;
    align-items: center;
    gap: spacing.semantic-variable(gap, tiny);
  }

  &__button {
    @include btn-utils.reset();

    line-height: 0;
    width: spacing.semantic-variable(size, element, roomy);
    height: spacing.semantic-variable(size, element, roomy);
    padding: 0;
    border-radius: radius.variable(base);
    color: palette.semantic-variable(icon, neutral);

    &:hover:not([aria-disabled='true']) {
      color: palette.semantic-variable(icon, neutral-solid);
    }

    &:focus-visible {
      outline: none;
      box-shadow: effect.variable(focus, primary);
    }

    &:disabled {
      cursor: default;
      color: palette.semantic-variable(icon, neutral-faint);
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: spacing.semantic-variable(gap, tight);

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;

      @include typography.semantic-variable(button-highlight);

      color: palette.semantic-variable(text, neutral-solid);
      text-align: center;

      &:focus-visible {
        outline: none;
        box-shadow: effect.variable(focus, inner);
      }

      &:disabled {
        cursor: default;
        pointer-events: none;
      }
    }
  }
}

.#{$footer-control-prefix} {
  width: 100%;
  border-top: 1px solid palette.semantic-variable(separator, neutral-faint);
  padding: spacing.semantic-variable(padding, vertical, base) spacing.semantic-variable(padding, horizontal, comfort);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: spacing.semantic-variable(gap, base);
}

.#{$footer-actions-prefix} {
  width: 100%;
  border-top: 1px solid palette.semantic-variable(separator, neutral-faint);
  padding: spacing.semantic-variable(padding, vertical, base) spacing.semantic-variable(padding, horizontal, comfort);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: spacing.semantic-variable(gap, base);

  button {
    min-width: spacing.semantic-variable(size, element, expansive);
  }
}

.#{$quick-select-prefix} {
  width: 128px;
  border-radius: radius.variable(roomy);
  padding: spacing.semantic-variable(padding, vertical, comfort) spacing.semantic-variable(padding, horizontal, comfort);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: spacing.semantic-variable(gap, tight);
  background-color: palette.semantic-variable("background", base);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: palette.semantic-variable(separator, neutral-faint);
  }

  &__button {
    @include btn-utils.reset();

    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: spacing.semantic-variable(gap, tight);
    padding: spacing.semantic-variable(padding, horizontal, tiny);

    @include typography.semantic-variable(caption);

    color: palette.semantic-variable(text, neutral);
    text-align: left;
    transition: transition.standard(color);

    &:hover,
    &--active {
      color: palette.semantic-variable(text, neutral-solid);
    }

    &:disabled {
      cursor: default;
      color: palette.semantic-variable(text, neutral-faint);
    }

    &:focus-visible {
      outline: none;
      box-shadow: effect.variable(focus, primary);
    }
  }
}
