@use 'sass:math';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system/spacing';
@use '~@mezzanine-ui/system/effect';
@use '~@mezzanine-ui/system/radius';
@use '../button/utils' as btn-utils;
@use './calendar' as *;

@mixin mode-width {
  @each $mode in $modes {
    .#{$prefix}--#{$mode} & {
      @if $mode == week {
        width: 292px;
      } @else {
        width: 260px;
      }
    }
  }
}

.#{$prefix} {
  display: inline-flex;
  box-sizing: border-box;
  border-radius: radius.variable(roomy);
  box-shadow: effect.variable(shadow, inner-top-and-bottom);
  background-color: palette.semantic-variable("background", base);

  * {
    box-sizing: border-box;
  }

  &--no-shadow {
    box-shadow: none;
  }
}

.#{$main-prefix} {
  @include mode-width();

  padding: spacing.semantic-variable(padding, vertical, comfort) spacing.semantic-variable(padding, horizontal, comfort);

  &-with-footer {
    display: inline-flex;
    flex-flow: column;
  }
}

.#{$board-prefix} {
  display: flex;
  flex-flow: row;

  .#{$prefix}--quarter &,
  .#{$prefix}--half-year & {
    flex-flow: column;
  }
}

.#{$week-prefix} {
  width: 32px;
  height: 100%;
  padding-top: 34px;
  display: flex;
  flex-flow: column;

  &__row {
    width: 100%;
    aspect-ratio: 1 / 1;
    padding: spacing.semantic-variable(padding, vertical, micro) 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 1px;
      height: 100%;
      background-color: palette.semantic-variable(separator, neutral-faint);
    }
  }
}

.#{$days-grid-prefix} {
  flex: 1;
}

.#{$button-prefix} {
  @include btn-utils.reset();

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: 1px solid transparent;
  border-radius: radius.variable(base);
  transition: transition.standard(background-color) transition.standard(color) transition.standard(border);

  @include typography.inherit;

  &__annotation {
    @include typography.semantic-variable(annotation);

    text-align: center;
    color: palette.semantic-variable(text, neutral);
  }

  &[aria-disabled='true'] {
    cursor: default;
  }

  &:hover:not(.#{$button-prefix}--disabled):not(.#{$button-prefix}--active) {
    background-color: palette.semantic-variable("background", neutral-faint);
  }

  .#{$cell-prefix}--today & {
    border: 1px solid palette.semantic-variable(border, brand);
  }

  &--inRange {
    background-color: palette.semantic-variable("background", brand-faint)
  }

  &--active {
    color: palette.semantic-variable(text, fixed-light);
    background-color: palette.semantic-variable("background", brand);

    .#{$cell-prefix} {
      color: palette.semantic-variable(text, fixed-light);
    }
  }

  &--disabled {
    color: palette.semantic-variable(text, neutral-faint);
    background-color: transparent;
    cursor: default;
  }

  &--inactive {
    color: palette.semantic-variable(text, neutral-faint);
  }

  &:focus-visible {
    outline: none;
    box-shadow: effect.variable(focus, primary);
  }
}

.#{$row-prefix} {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  column-gap: spacing.semantic-variable(gap, tiny);
  width: 100%;
  padding: spacing.semantic-variable(padding, vertical, micro) 0;

  &:first-child {
    padding-top: 0;
  }

  .#{$prefix}--quarter & {
    padding: spacing.semantic-variable(padding, vertical, tiny) 0;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: 32px;
  }

  .#{$prefix}--half-year & {
    padding: spacing.semantic-variable(padding, vertical, tiny) 0;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-rows: 32px;
  }

  &--with-border {
    border-top: 1px solid palette.semantic-variable(separator, neutral-faint);
  }
}

.#{$cell-prefix} {
  --#{$cell-prefix}-text-color: #{palette.semantic-variable(text, neutral-solid)};

  position: relative;
  width: 100%;
  padding-top: 100%;
  color: var(--#{$cell-prefix}-text-color);
  user-select: none;
  transition: transition.standard(color);

  @include typography.semantic-variable(label-primary);

  button {
    width: 100%;
    height: 100%;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--active {
    --#{$cell-prefix}-text-color: #{palette.semantic-variable(text, neutral-solid)};
  }

  &--disabled {
    --#{$cell-prefix}-text-color: #{palette.semantic-variable(text, neutral-faint)};
  }

  .#{$prefix}--quarter &,
  .#{$prefix}--half-year & {
    padding-top: 32px;
  }
}

.#{$twelve-grid-prefix} {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 32px;
  gap: calc(#{spacing.semantic-variable(padding, vertical, micro)} * 2) spacing.semantic-variable(gap, tiny);
  width: 100%;

  @include typography.semantic-variable(label-primary);

  color: palette.semantic-variable(text, neutral-solid);
}

.#{$controls-prefix} {
  padding: spacing.semantic-variable(padding, vertical, tiny) spacing.semantic-variable(padding, horizontal, relaxed);
  display: flex;
  justify-content: space-between;
  gap: spacing.semantic-variable(gap, tiny);
  position: relative;
  width: 100%;
  margin: 0 0 spacing.semantic-variable(gap, tight);
  box-sizing: border-box;

  &__actions {
    display: flex;
    align-items: center;
    gap: spacing.semantic-variable(gap, tiny);
  }

  &__button {
    @include btn-utils.reset();

    line-height: 0;
    padding: spacing.semantic-variable(padding, vertical, micro) 0;
    border-radius: radius.variable(base);
    color: palette.semantic-variable(icon, neutral);

    &:hover:not([aria-disabled='true']) {
      color: palette.semantic-variable(icon, neutral-solid);
    }

    &:focus-visible {
      outline: none;
      box-shadow: effect.variable(focus, primary);
    }

    &:disabled {
      cursor: default;
      color: palette.semantic-variable(icon, neutral-faint);
    }
  }

  &__main {
    display: flex;
    align-items: center;
    gap: spacing.semantic-variable(gap, tight);

    button {
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      margin: 0;

      @include typography.semantic-variable(button-highlight);

      color: palette.semantic-variable(text, neutral-solid);
      text-align: center;

      &:focus-visible {
        outline: none;
        box-shadow: effect.variable(focus, primary);
      }

      &:disabled {
        cursor: default;
        pointer-events: none;
      }
    }
  }
}

.#{$footer-control-prefix} {
  width: 100%;
  border-top: 1px solid palette.semantic-variable(separator, neutral-faint);
  padding: spacing.semantic-variable(padding, vertical, base) spacing.semantic-variable(padding, horizontal, comfort);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: spacing.semantic-variable(gap, base);
}

.#{$footer-actions-prefix} {
  width: 100%;
  border-top: 1px solid palette.semantic-variable(separator, neutral-faint);
  padding: spacing.semantic-variable(padding, vertical, base) spacing.semantic-variable(padding, horizontal, comfort);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: spacing.semantic-variable(gap, base);

  button {
    min-width: spacing.semantic-variable(size, element, expansive);
  }
}

.#{$quick-select-prefix} {
  width: 128px;
  border-radius: radius.variable(roomy);
  padding: spacing.semantic-variable(padding, vertical, comfort) spacing.semantic-variable(padding, horizontal, comfort);
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: spacing.semantic-variable(gap, tight);
  background-color: palette.semantic-variable("background", base);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: palette.semantic-variable(separator, neutral-faint);
  }

  &__button {
    @include btn-utils.reset();

    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    gap: spacing.semantic-variable(gap, tight);
    padding: spacing.semantic-variable(padding, horizontal, tiny);

    @include typography.semantic-variable(caption);

    color: palette.semantic-variable(text, neutral);
    text-align: left;
    transition: transition.standard(color);

    &:hover,
    &--active {
      color: palette.semantic-variable(text, neutral-solid);
    }

    &:disabled {
      cursor: default;
      color: palette.semantic-variable(text, neutral-faint);
    }

    &:focus-visible {
      outline: none;
      box-shadow: effect.variable(focus, primary);
    }
  }
}
