@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/z-index';
@use './popover' as *;

$min-width: 160px !default;
$title-margin-bottom: 4px !default;

.#{$prefix} {
  padding: 16px;
  background-color: palette.color(surface);
  border: 1px solid palette.color(border);
  color: palette.color(text-primary);
  min-width: $min-width;
  z-index: z-index.get(popover);
  box-sizing: border-box;

  &__title {
    margin: 0 0 $title-margin-bottom;

    @include typography.variant(h5);
  }

  &__content {
    @include typography.variant(body2);
  }
}
