@use './icon' as *;

$spin-keyframes-name: #{$prefix}-spin !default;

@keyframes #{$spin-keyframes-name} {
  100% {
    transform: rotate(360deg);
  }
}

.#{$prefix} {
  cursor: var(--#{$prefix}-cursor);
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 0;
  flex-shrink: 0;
  user-select: none;
  // @todo add animation system
  // transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  &--color {
    color: var(--#{$prefix}-color);
  }

  &--spin {
    animation: #{$spin-keyframes-name} 500ms infinite linear;
  }

  &--size {
    font-size: var(--#{$prefix}-size);
  }
}
