$card-group-prefix: mzn-card-group;
$base-card-prefix: mzn-base-card;
$quick-action-card-prefix: mzn-quick-action-card;
$thumbnail-card-prefix: mzn-thumbnail-card;
$thumbnail-card-info-prefix: mzn-thumbnail-card-info;
$single-thumbnail-card-prefix: mzn-single-thumbnail-card;