@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/spacing';
@use './card' as *;

.#{$prefix} {
  width: 100%;
  display: grid;
  border: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  align-content: center;

  &__media > * {
    width: 100%;
    vertical-align: middle;
    border-style: none;
    padding-bottom: 0;
  }

  &__cardSpace {
    padding: spacing.level(4);
  }

  &__title {
    @include typography.variant(h3);
  }

  &__header {
    width: 100%;
    display: grid;
    row-gap: spacing.level(1);
  }

  &__subhead {
    width: 100%;
    @include typography.variant(body1);
  }

  &__content {
    width: 100%;
    padding-top: spacing.level(4);
    @include typography.variant(body1);
  }

  &__footer {
    width: 100%;
    padding-top: spacing.level(6);
  }

  &__footer > * {
    float: right;
  }
}
