@use 'sass:map';
@use '../text-field';
@use '../select';
@use './input' as *;

.#{$prefix} {
  &__tags-mode {
    display: flex;
    flex-wrap: wrap;

    .#{select.$prefix}-trigger__tags {
      width: unset;
    }

    input {
      width: unset;
      flex: 1;
    }

    &__input-on-top {
      flex-direction: column-reverse;
    }

    &:hover {
      .#{text-field.$prefix}__clear-icon {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  input {
    padding-left: var(--#{text-field.$prefix}-padding-left);
    padding-right: var(--#{text-field.$prefix}-padding-right);

    /* clears the 'X' from Internet Explorer */
    &[type='search']::-ms-clear,
    &[type='search']::-ms-reveal {
      display: none;
      width: 0;
      height: 0;
    }

    /* clears the 'X' from Chrome */
    &[type='search']::-webkit-search-decoration,
    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-results-button,
    &[type='search']::-webkit-search-results-decoration {
      display: none;
    }
  }
}
