@mixin reset() {
  width: 100%;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: -1px 0;
  border: none;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}
