@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/spacing';
@use './textarea' as *;

$min-width: 452px !default;
$min-width-small: 388px !default;
$min-height: 102px !default;
$padding-y: 8px !default;
$count-gap: 4px !default;

.#{$prefix}.#{$prefix} {
  @include typography.variant(body);
}

.#{$prefix} {
    padding: 0;
    width: fit-content;
    height: fit-content;

  &__textarea {
    padding-block: spacing.semantic-variable(padding, vertical, calm);
    padding-left: spacing.semantic-variable(padding, horizontal, cozy);
    padding-right: spacing.semantic-variable(padding, horizontal, spacious);
    resize: both;
    overflow-y: auto;
  }
}

.aa {
  width: 200px;
  max-width: 300px;
  min-width: 100px;
}
