@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/spacing';
@use '../icon';
@use '../text-field';
@use './form-field' as *;

$preserve-margin-bottom: 24px !default;
$label-gap: 4px !default;
$asterisk-gap: 4px !default;
$label-remark-gap: 32px !default;
$remark-icon-size: 16px !default;
$remark-icon-gap: 4px !default;
$severity-icon-size: 16px !default;
$severity-icon-gap: 4px !default;
$message-gap: 4px !default;

.#{$prefix} {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: $preserve-margin-bottom;

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    margin-bottom: $label-gap;
    color: palette.color(action-inactive);

    @include typography.variant(h6);
  }

  &__asterisk,
  &__remark{
    @include typography.variant(caption);
  }

  &__asterisk {
    margin-left: $asterisk-gap;
    color: palette.color(error);
    vertical-align: top;
  }

  &__remark {
    display: inline-flex;
    align-items: center;
    margin-left: $label-remark-gap;

    .#{icon.$prefix} {
      font-size: $remark-icon-size;

      &:not(:first-child) {
        margin-left: $remark-icon-gap;
      }
    }
  }

  &__severity-icon {
    font-size: typography.px-to-rem($severity-icon-size);
    margin-right: $severity-icon-gap;
  }

  &--full-width {
    width: 100%;
  }

  @each $severity in $severities {
    &--#{$severity} {
      --#{$prefix}-severity-color: #{palette.color($severity)};
    }
  }
}

/* @TODO
* 以下是因應 Input 需求而製作的 Hint Text 樣式
* 設計稿上有標注使用 Form Hint Text 樣式
* 但 Form 本身還沒完成定義，待完成定義後要回頭確認是否有需要調整
*/
.#{$prefix}__hint-text {
  display: flex;
  flex-flow: row nowrap;
  gap: spacing.semantic-variable(gap, tiny);
  align-items: flex-start;
  color: palette.semantic-variable(text, neutral);

  @include typography.semantic-variable(annotation);

  &__icon {
    font-size: spacing.semantic-variable(size, element, narrow);
  }

  &--success {
    color: palette.semantic-variable(text, success);

    .#{$prefix}__hint-text__icon {
      color: palette.semantic-variable(icon, success);
    }
  }

  &--warning {
    color: palette.semantic-variable(text, warning);

    .#{$prefix}__hint-text__icon {
      color: palette.semantic-variable(icon, warning);
    }
  }

  &--error {
    color: palette.semantic-variable(text, error);

    .#{$prefix}__hint-text__icon {
      color: palette.semantic-variable(icon, error);
    }
  }

  &--info {
    color: palette.semantic-variable(text, neutral);

    .#{$prefix}__hint-text__icon {
      color: palette.semantic-variable(icon, info);
    }
  }
}
