@use 'sass:map';
@use 'sass:meta';

@mixin _load-styles($all-options, $namespace, $name: $namespace) {
  $options: map.get($all-options, $name);

  @if $options != false {
    @if $options != null and meta.type-of($options) != 'map' {
      @error 'Invalid options of #{$name}. Only accept false, null or map';
    }

    $url: #{'~@mezzanine-ui/core/'}#{$namespace}#{'/'}#{$name}#{'-styles'};

    @include meta.load-css($url, $options);
  }
}

@mixin styles($options: ()) {
  // General
  @include _load-styles($options, typography);
  @include _load-styles($options, icon);
  @include _load-styles($options, button);
  @include _load-styles($options, dismiss-button);

  // Utility
  @include _load-styles($options, overlay);
  @include _load-styles($options, popover);
  @include _load-styles($options, tooltip);
  @include _load-styles($options, calendar);
  @include _load-styles($options, time-panel);

  // Data Entry Common
  @include _load-styles($options, _internal/input-check, input-check);
  @include _load-styles($options, _internal/input-trigger-popper, input-trigger-popper);
  @include _load-styles($options, text-field);

  // Navigation
  @include _load-styles($options, menu);
  @include _load-styles($options, tabs);
  @include _load-styles($options, pagination);
  @include _load-styles($options, drawer);
  @include _load-styles($options, navigation);
  @include _load-styles($options, app-bar);
  @include _load-styles($options, page-footer);
  @include _load-styles($options, stepper);

  // Data Display
  @include _load-styles($options, badge);
  @include _load-styles($options, card);
  @include _load-styles($options, empty);
  @include _load-styles($options, tag);
  @include _load-styles($options, accordion);
  @include _load-styles($options, tree);
  @include _load-styles($options, table);
  @include _load-styles($options, inline-message);

  // Data Entry
  @include _load-styles($options, checkbox);
  @include _load-styles($options, input);
  @include _load-styles($options, radio);
  @include _load-styles($options, select);
  @include _load-styles($options, switch);
  @include _load-styles($options, textarea);
  @include _load-styles($options, upload);
  @include _load-styles($options, upload, upload-result);
  @include _load-styles($options, upload, upload-picture);
  @include _load-styles($options, upload, upload-picture-block);
  @include _load-styles($options, upload, upload-picture-wall);
  @include _load-styles($options, picker);
  @include _load-styles($options, date-range-picker);
  @include _load-styles($options, date-time-picker);
  @include _load-styles($options, slider);

  // Data Entry Form
  @include _load-styles($options, form, form-field);

  // Feedback
  @include _load-styles($options, alert);
  @include _load-styles($options, message);
  @include _load-styles($options, modal);
  @include _load-styles($options, notification);
  @include _load-styles($options, popconfirm);
  @include _load-styles($options, progress);
  @include _load-styles($options, spin);
  @include _load-styles($options, skeleton);

  // Others
  @include _load-styles($options, anchor);
}
