@use 'sass:map';
@use '~@mezzanine-ui/system/breakpoint' as breakpoint;
@use '~@mezzanine-ui/system/palette' as palette;
@use '~@mezzanine-ui/system/transition' as transition;
@use '~@mezzanine-ui/system/typography' as typography;
@use '~@mezzanine-ui/system/z-index' as z-index;
@use '~@mezzanine-ui/system/radius' as radius;
@use '~@mezzanine-ui/system/spacing' as spacing;
@use '~@mezzanine-ui/system/effect' as effect;
@use '../button';
@use './modal' as *;

// ModalStatusType - keep this list in sync with TypeScript type ModalStatusType
$modalStatusTypes: (
  'info',
  'success',
  'warning',
  'error',
  'email',
  'delete',
);

// ModalSize - keep this list in sync with TypeScript type ModalSize
$modalSizes: (
  'tight',
  'narrow',
  'regular',
  'wide',
);

@mixin _full-screen() {
  position: absolute;
  width: 100%;
  min-height: 100%;
  inset: 0;
  transform: none;
}

.#{$prefix} {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: palette.semantic-variable("background", base);
  box-sizing: border-box;
  box-shadow: effect.variable(shadow, modal);
  border-radius: radius.variable(roomy);

  // each size variant
  @each $size in $modalSizes {
    &--#{$size} {
      @if $size == 'tight' {
        width: spacing.semantic-variable(size, container, narrow);
      } @else if $size == 'narrow' {
        width: spacing.semantic-variable(size, container, balanced);
        max-height: spacing.semantic-variable(size, container, wide);
      } @else if $size == 'regular' {
        width: spacing.semantic-variable(size, container, wide);
        max-height: spacing.semantic-variable(size, container, expanded);
      } @else if $size == 'wide' {
        width: max-content;
        max-width: calc(100% - spacing.semantic-variable(padding, horizontal, spacious) * 2);
        max-height: spacing.semantic-variable(size, container, expanded);

        .#{$prefix}__body-container {
          padding-top: spacing.semantic-variable(padding, vertical, spacious);
          padding-bottom: spacing.semantic-variable(padding, vertical, spacious);
        }
      }
    }
  }

  @include breakpoint.below(sm) {
    @include _full-screen();
  }

  &--full-screen {
    @include _full-screen();
  }

  &__overlay {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: z-index.get(modal);
  }

  &__close-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
  }

  &__header {
    padding: spacing.semantic-variable(padding, vertical, comfort) spacing.semantic-variable(padding, horizontal, relaxed);

    &--show-modal-status-type-icon {
      padding: spacing.semantic-variable(padding, vertical, generous) spacing.semantic-variable(padding, horizontal, relaxed);
    }

    &--horizontal {
      display: flex;
      flex-direction: row;
      align-items: start;
      gap: spacing.semantic-variable(gap, calm);

      .#{$prefix}__header__title-supporting-text-container {
        gap: spacing.semantic-variable(gap, slim);
      }

      .#{$prefix}__header__title {
        padding-top: spacing.semantic-variable(gap, tight);
        padding-bottom: spacing.semantic-variable(gap, tight);
      }

    }

    &--vertical {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: spacing.semantic-variable(gap, calm);
    }

    &--title-align-left {
      align-items: flex-start;
    }

    &--title-align-center {
      align-items: center;

      .#{$prefix}__header__title {
        text-align: center;
      }
    }

    &__status-type-icon {
      width: 32px;
      height: 32px;
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      border-radius: radius.variable(full);
    }

    &__title-supporting-text-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: spacing.semantic-variable(gap, tight);
    }

    &__title {
      width: 100%;
      margin: 0;
    }

    &__supporting-text {
      width: 100%;
      margin: 0;

      &--align-left {
        text-align: left;
      }

      &--align-center {
        text-align: center;
      }
    }
  }

  &__body-container {
    padding: spacing.semantic-variable(padding, vertical, comfort) spacing.semantic-variable(padding, horizontal, relaxed);
    overflow-y: auto;
    box-sizing: border-box;

    &__extended-split {
      display: flex;
      flex-wrap: nowrap;
    }

    &__extended-split-right {
      width: max-content;
      flex-grow: 1;
      padding: spacing.semantic-variable(padding, vertical, spacious) spacing.semantic-variable(padding, horizontal, relaxed);
    }

    &__extended-split-left {
      width: fit-content;
      min-width: spacing.semantic-variable(size, container, narrow);
      display: flex;
      flex-direction: column;
    }

    &__extended-split-left__content {
      padding: spacing.semantic-variable(padding, vertical, spacious) spacing.semantic-variable(padding, horizontal, relaxed);
    }
  }

  &__body-verification {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: spacing.semantic-variable(gap, base);

    &__inputs {
      display: flex;
      gap: spacing.semantic-variable(gap, base);
    }

    &__input {
      display: flex;
      width: spacing.semantic-variable(size, element, wide-expanded);
      height: spacing.semantic-variable(size, element, wide-expanded);
      padding: 0;
      justify-content: center;
      align-items: center;
      text-align: center;

      @include typography.semantic-variable(h1);

      color: palette.semantic-variable(text, brand);
      background-color: palette.semantic-variable('background', base);
      border: 1px solid palette.semantic-variable(border, neutral-light);
      border-radius: radius.variable(base);
      outline: none;
      transition: border-color 0.2s, color 0.2s, background-color 0.2s;

      &:focus {
        border-color: palette.semantic-variable(border, neutral-light);
        box-shadow: 0 0 0 1px palette.semantic-variable('background', base), 0 0 0 2px palette.semantic-variable('background', brand);
      }

      &:hover:not(:focus, :disabled, [readonly]) {
        color: palette.semantic-variable(text, neutral-light);
        border-color: palette.semantic-variable(border, brand);
      }

      &:not(:placeholder-shown) {
        color: palette.semantic-variable(text, brand);
        border-color: palette.semantic-variable(border, brand);
      }

      &:disabled {
        color: palette.semantic-variable(text, neutral-light);
        background-color: palette.semantic-variable('background', neutral-subtle);
        border-color: palette.semantic-variable(border, neutral-light);
        cursor: not-allowed;
      }

      &[readonly] {
        color: palette.semantic-variable(text, neutral-solid);
        background-color: palette.semantic-variable('background', neutral-subtle);
        border-color: palette.semantic-variable(border, neutral-light);
        cursor: default;
      }

      &--error {
        color: palette.semantic-variable(text, error);
        border-color: palette.semantic-variable(border, error);
      }
    }

    &__resend {
      display: flex;
      gap: spacing.semantic-variable(gap, tight);
      align-items: center;
    }

    &__resend-link {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding: spacing.semantic-variable(padding, vertical, comfort) spacing.semantic-variable(padding, horizontal, relaxed) spacing.semantic-variable(padding, vertical, comfort) spacing.semantic-variable(padding, horizontal, relaxed);

    &--password-mode {
      flex-direction: column;
      align-items: stretch;
      gap: spacing.semantic-variable(gap, base);
    }

    &--with-auxiliary-content {
      justify-content: space-between;
    }

    &__password-container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding-bottom: spacing.semantic-variable(padding, vertical, tight);
    }

    &__auxiliary-content-container {
      display: flex;
      align-items: center;
    }

    &__actions-button-container {
      display: flex;
      justify-content: flex-end;
      gap: spacing.semantic-variable(gap, base);

      &--fill-layout {
        flex-grow: 1;
        .#{$prefix}__footer__actions-button {
          flex-grow: 1;
        }
      }
    }
  }

  @each $status-type in $modalStatusTypes {
    &--#{$status-type} {
      .#{$prefix}__header {
        &__status-type-icon {
          @if $status-type == 'info' {
            background-color: palette.semantic-variable("background", info-faint);
          } @else if $status-type == 'success' {
            background-color: palette.semantic-variable("background", success-faint);
          } @else if $status-type == 'warning' {
            background-color: palette.semantic-variable("background", warning-faint);
          } @else if $status-type == 'error' {
            background-color: palette.semantic-variable("background", error-faint);
          } @else if $status-type == 'email' {
            background-color: palette.semantic-variable("background", info-faint);
          } @else if $status-type == 'delete' {
            background-color: palette.semantic-variable("background", error-faint);
          }
        }
      }
    }
  }

  &--media-preview {
    max-width: calc(100vw - 200px);
    max-height: calc(100vh - 80px);
    width: auto;
    height: auto;
    background-color: unset;
    padding: 0;
    box-shadow: none;
  }

  &__media-preview-content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    width: 100%;
  }

  &__media-preview-media-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    min-width: 0;
    min-height: 0;
  }

  &__media-preview-image {
    position: absolute;
    max-height: calc(100vh - 80px - (spacing.semantic-variable(padding, vertical, spacious) * 2));
    width: auto;
    height: auto;

    // For img elements
    &[src] {
      object-fit: contain;
    }

    // For custom content wrapper (div)
    &:not([src]) {
      display: flex;
      align-items: center;
      justify-content: center;

      > * {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }

  &__media-preview-nav-button {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: palette.semantic-variable("background", neutral-solid);
    border: none;
    border-radius: radius.variable(full);
    color: palette.semantic-variable(icon, neutral-light);
    cursor: pointer;
    z-index: z-index.get(modal);
    padding: spacing.semantic-variable(padding, vertical, calm) spacing.semantic-variable(padding, horizontal, cozy);

    &:hover:not(:disabled) {
      background-color: palette.semantic-variable(overlay, strong);
    }

    &:disabled {
      opacity: 0.4;
      cursor: not-allowed;
    }

    &--prev {
      left: spacing.semantic-variable(padding, horizontal, relaxed);
    }

    &--next {
      right: spacing.semantic-variable(padding, horizontal, relaxed);
    }
  }

  &__media-preview-pagination-indicator {
    position: fixed;
    bottom: spacing.semantic-variable(gap, calm);
    left: 50%;
    transform: translateX(-50%);
    color: palette.semantic-variable(text, fixed-light);
    z-index: z-index.get(modal);

    @include typography.variant(body1);
  }

  &__media-preview-close-button {
    position: fixed;
    top: spacing.semantic-variable(padding, vertical, relaxed);
    right: spacing.semantic-variable(padding, horizontal, relaxed);
    z-index: z-index.get(modal);
    padding: spacing.semantic-variable(padding, vertical, calm) spacing.semantic-variable(padding, horizontal, cozy);
  }
}
