$prefix: mzn-badge;

$dot-types: (
  success,
  error,
  warning,
  info,
  inactive
);

$text-types: (
  success,
  error,
  warning,
  info,
  inactive
);

$count-types: (
  alert,
  inactive,
  inverse,
  brand,
  info
);
