@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/transition';
@use '../text-field';
@use '../button';
@use '../button/utils' as btn-utils;
@use './time-panel' as *;

$padding: 16px !default;

.#{$prefix} {
  display: inline-flex;
  flex-direction: column;
  background-color: palette.color(surface);
}

.#{$columns-prefix} {
  display: flex;
  padding: $padding 0 $padding $padding;
}

.#{$action-prefix} {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: $padding;
  border-top: 1px solid palette.color(border);
}

.#{$button-prefix} {
  @include btn-utils.reset();

  transition: transition.standard(background-color);

  @include typography.inherit;

  &:hover:not(.#{$button-prefix}--active) {
    background-color: palette.color(primary-hover-bg);
  }

  &--active {
    color: palette.color(on-primary);
    background-color: palette.color(primary);
  }
}

.#{$column-prefix} {
  $cell-height: 32px;

  @include typography.variant(input3);

  width: 48px;

  &__prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 24px;
    margin: 0 auto 12px 0;
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $cell-height;
    height: $cell-height;
  }

  &__control-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 0 auto 0 4px;
    font-size: 24px;
  }

  &__ratio-box-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__cells {
    height: $cell-height * 5;
    overflow: hidden;

    &:hover {
      overflow-y: auto;
    }

    &::after {
      content: '';
      display: block;
      height: $cell-height * 4;
    }
  }
}
