@use 'sass:map';
@use './motion';
@use './spacing';
@use './typography';
@use './z-index';
@use './radius';
@use './palette' as system-palette;

@mixin common-variables($mode: default, $options: ()) {
  $motion: map.get($options, motion);
  $spacing: map.get($options, spacing);
  $typography: map.get($options, typography);
  $z-index: map.get($options, z-index);
  $radius: map.get($options, radius);

  @if not $motion {
    @include motion.variables();
  } @else {
    @include motion.variables($motion);
  }

  @if not $spacing {
    @include spacing.semantic-variables($mode);
  } @else {
    @include spacing.semantic-variables($mode, $spacing);
  }

  @if not $typography {
    @include typography.variables();
  } @else {
    @include typography.variables($typography);
  }

  @if not $z-index {
    @include z-index.variables();
  } @else {
    @include z-index.variables($z-index);
  }

  @if not $radius {
    @include radius.variables();
  } @else {
    @include radius.variables($radius);
  }
}

@mixin colors($mode: 'light', $semantic: (), $primitives: ()) {
  @include system-palette.primitive-variables($primitives);
  @include system-palette.semantic-variables($mode, $semantic);
}
