@use 'sass:map';
@use './motion';
@use './spacing';
@use './typography';
@use './z-index';
@use './radius';
@use './effect';
@use './palette' as system-palette;

@mixin common-variables($mode: default, $options: ()) {
  $motion: map.get($options, motion);
  $spacing: map.get($options, spacing);
  $typography: map.get($options, typography);
  $typography-primitives: map.get($options, typography-primitives);
  $z-index: map.get($options, z-index);
  $radius: map.get($options, radius);

  @include effect.variables();

  @if not $motion {
    @include motion.variables();
  } @else {
    @include motion.variables($motion);
  }

  @if not $spacing {
    @include spacing.semantic-variables($mode);
  } @else {
    @include spacing.semantic-variables($mode, $spacing);
  }

  @if not $typography-primitives {
    @include typography.primitive-variables();
  } @else {
    $font-families: map.get($typography-primitives, font-families) or ();
    $font-weights: map.get($typography-primitives, font-weights) or ();
    $font-sizes: map.get($typography-primitives, font-sizes) or ();
    $line-heights: map.get($typography-primitives, line-heights) or ();
    $letter-spacings: map.get($typography-primitives, letter-spacings) or ();

    @include typography.primitive-variables(
      $font-families,
      $font-weights,
      $font-sizes,
      $line-heights,
      $letter-spacings
    );
  }

  @if not $typography-primitives {
    font-family: typography.primitive-get-font-family-list();
  } @else {
    $font-families: map.get($typography-primitives, font-families) or ();

    font-family: typography.primitive-get-font-family-list($font-families);
  }

  @if not $typography {
    @include typography.semantic-variables();
  } @else {
    @include typography.semantic-variables($typography);
  }

  @if not $z-index {
    @include z-index.variables();
  } @else {
    @include z-index.variables($z-index);
  }

  @if not $radius {
    @include radius.variables();
  } @else {
    @include radius.variables($radius);
  }
}

@mixin colors($mode: 'light', $semantic: (), $primitives: ()) {
  @include system-palette.primitive-variables($primitives);
  @include system-palette.semantic-variables($mode, $semantic);
}
