@use 'sass:map';
@use './motion';
@use './spacing';
@use './typography';
@use './z-index';

@mixin common-variables($options: ()) {
  $motion: map.get($options, motion);
  $spacing: map.get($options, spacing);
  $typography: map.get($options, typography);
  $z-index: map.get($options, z-index);

  @if $motion == null {
    @include motion.variables();
  } @else {
    @include motion.variables($motion);
  }

  @if $spacing == null {
    @include spacing.variables();
  } @else {
    @include spacing.variables($spacing);
  }

  @if $typography == null {
    @include typography.variables();
  } @else {
    @include typography.variables($typography);
  }

  @if $z-index == null {
    @include z-index.variables();
  } @else {
    @include z-index.variables($z-index);
  }
}
