@use '../palette';
@use '../spacing';
@use '../radius';

$scrollbar-thumb-color: #{palette.semantic-variable("scrollbar", neutral)};
$scrollbar-thumb-hover-color: #{palette.semantic-variable("scrollbar", neutral-strong)};

$scrollbar-size: #{spacing.semantic-variable(size, element, extra-wide)};

$scrollbar-radius: #{radius.variable(full)};

@mixin mzn-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      scrollbar-color: #{$scrollbar-thumb-color} transparent;
    }
  }

  @supports selector(::-webkit-scrollbar) {
    &::-webkit-scrollbar {
      width: $scrollbar-size;
      height: $scrollbar-size;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $scrollbar-thumb-color;
      border-radius: $scrollbar-radius;
      opacity: 0;
      transition:
        opacity 0.2s ease,
        background-color 0.15s ease;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::-webkit-scrollbar-thumb {
        opacity: 1;
      }
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $scrollbar-thumb-hover-color;
    }
  }
}
