@use '~@mezzanine-ui/system/spacing';
@use './page-header' as *;

.#{$prefix} {
  box-sizing: border-box;
  display: grid;
  gap: spacing.semantic-variable(gap, calm);
  padding: spacing.semantic-variable(padding, vertical, spacious) spacing.semantic-variable(padding, horizontal, spacious) 0;
  width: 100%;
}
