@use 'sass:map';
@use '~@mezzanine-ui/system/spacing';
@use '~@mezzanine-ui/system/palette';
@use './date-time-range-picker' as *;

.#{$prefix} {
  display: inline-flex;
  align-items: center;
  gap: spacing.semantic-variable(gap, base);

  &--row {
    flex-direction: row;
  }

  &--column {
    flex-direction: column;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    color: palette.semantic-variable(icon, neutral-light);
  }
}
