$prefix: mzn-empty;

@mixin core() {
  .#{$prefix} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    &__icon {
      font-size: 48px;
    }

    &__title {
      margin: 0 0 4px 0;
    }

    &--full-height {
      height: 100%;
    }
  }
}
