@use 'sass:map';
@use '~@mezzanine-ui/system/typography';

$prefix: mzn-empty;

$default-options: (
  padding: 8px,
  icon-size: 48px,
  title-gap: 4px,
);

@mixin core($options: ()) {
  $options: map.deep-merge($default-options, $options);
  $padding: map.get($options, padding);
  $icon-size: typography.px-to-rem(map.get($options, icon-size));
  $title-gap: map.get($options, title-gap);

  .#{$prefix} {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $padding;
    box-sizing: border-box;

    &__icon {
      font-size: $icon-size;
    }

    &__title {
      margin-bottom: $title-gap;
    }

    &--full-height {
      height: 100%;
    }
  }
}
