@use '~@mezzanine-ui/system/palette' as palette;
@use '~@mezzanine-ui/system/radius' as radius;
@use '~@mezzanine-ui/system/spacing' as spacing;
@use '~@mezzanine-ui/system/transition' as transition;
@use '~@mezzanine-ui/system/typography';
@use '../button';
@use './tab' as *;


.#{$prefix} {
  box-sizing: border-box;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: left;
  overflow-x: scroll;
  scrollbar-width: none; /* Firefox specific */

  &__item {
    @include button.reset();
    @include typography.variant(button-highlight);

    color: palette.semantic-variable(text, neutral-strong);
    box-sizing: border-box;

    &--active {
      // color: palette.color(primary);

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        // background-color: palette.color(primary);
      }
    }

    &:disabled {
      // color: palette.color(action-disabled);
      cursor: default;
      pointer-events: none;
    }
  }
}
