@use 'sass:map';
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/spacing';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system/typography';
@use './input-check' as *;

.#{$prefix} {
  --#{$prefix}-control-size: #{spacing.semantic-variable(size, element, base-fixed)};
  --#{$prefix}-color: #{palette.semantic-variable('border', brand)};

  display: inline-flex;
  align-items: flex-start;
  transition: transition.standard(background-color), transition.standard(color);
  will-change: background-color, color;
  cursor: pointer;
  box-sizing: border-box;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
    cursor: inherit;
    z-index: 1;
  }

  &__control {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: var(--#{$prefix}-control-size);
    height: var(--#{$prefix}-control-size);
    padding: spacing.semantic-variable(padding, vertical, micro)
      spacing.semantic-variable(padding, horizontal, micro);
    box-sizing: border-box;

    &--focused {
      &::after {
        content: '';
        position: absolute;
        width: var(--#{$prefix}-control-size);
        height: var(--#{$prefix}-control-size);
        border: 1px solid var(--#{$prefix}-color);
        top: 0;
        left: 0;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }
  }

  &__label {
    @include typography.semantic-variable(label-primary);
    color: palette.semantic-variable(text, neutral-solid);
    margin-left: spacing.semantic-variable(gap, tight);

    &:empty {
      display: none;
    }
  }

  &--with-label {
    background-color: transparent;
  }

  &--error {
    --#{$prefix}-color: #{palette.semantic-variable('border', error)};
  }

  &--disabled {
    --#{$prefix}-color: #C9CBD4; // TODO: border-neutral-light-disabled

    background-color: transparent;
    cursor: default;
    pointer-events: none;
  }
}

.#{$group-prefix} {
  display: inline-grid;
  grid-auto-flow: column;
  gap: spacing.level(1);

  &--vertical {
    grid-auto-flow: row;
    gap: 0;
  }
}
