/**
 * SF Mono Font Face Definitions
 *
 * SF Mono is a monospaced font designed by Apple.
 * This file provides @font-face declarations to load SF Mono from file.
 * download link: https://www.cufonfonts.com/font/sf-mono
 */

/* SF Mono Regular (400) */
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~@mezzanine-ui/system/typography/SF-Mono/SFMonoRegular.woff') format('woff');
}

/* SF Mono Medium (500) */
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~@mezzanine-ui/system/typography/SF-Mono/SFMonoMedium.woff') format('woff');
}

/* SF Mono Semibold (600) */
@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~@mezzanine-ui/system/typography/SF-Mono/SFMonoSemibold.woff') format('woff');
}
