@function prop($variant, $prop, $fallback: null) {
  @warn "DEPRECATION WARNING: use 'semantic-prop' instead";

  @return '12px';
}

@mixin variant($variant, $exclude-props: ()) {
  @warn "DEPRECATION WARNING: use 'semantic-variable' instead";

  font-size: 12px;
}
