/* stylelint-disable declaration-no-important */
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system';
@use '~@mezzanine-ui/core';

:root {
  @include system.common-variables();
  @include system.palette();
}

.sb-show-main {
  background-color: palette.color(bg);
  color: palette.color(text-primary);
  transition: transition.standard(background-color), transition.standard(color);
  will-change: background-color, color;
}

.custom-table-header {
  background-color: palette.color(primary) !important;
}

.custom-table-body {
  color: palette.color(primary);
}

@include core.styles();
