@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/typography';
@use '~@mezzanine-ui/system/spacing';
@use '~@mezzanine-ui/core';

:root {
  @include palette.variables("light");
  @include spacing.variables();
  @include typography.variables();
}

.theme-dark {
  @include palette.variables("dark");
}

.sb-show-main {
  background-color: palette.color(bg);
  color: palette.color(text-primary);
  // @todo use animation system
  transition: background-color 0.3s ease-in-out;
}

@include core.styles();
