/* stylelint-disable declaration-no-important */
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system';
@use '~@mezzanine-ui/core';

:root {
  @include system.common-variables("default");
  @include system.colors();
}

.sb-show-main {
  background-color: palette.semantic-variable("background", base);
  color: palette.semantic-variable(text, neutral);
  transition: transition.standard(background-color), transition.standard(color);
  will-change: background-color, color;
}

.custom-table-header {
  background-color: palette.semantic-variable("background", base) !important;
}

.custom-table-body {
  color: palette.semantic-variable(text, neutral);
}

@include core.styles();
