@use 'sass:map';
@use '../utils/list';

$prefix: mzn-motion;

$duration-names: (fast, moderate, slow, loop, pause-short, pause-long);
$default-durations: (
  fast: 150ms,
  moderate: 250ms,
  slow: 400ms,
  loop: 1600ms,
  pause-short: 3000ms,
  pause-long: 10000ms,
);

$easing-names: (entrance, exit, standard);
$default-easings: (
  entrance: cubic-bezier(0.0, 0.0, 0.58, 1),
  exit: cubic-bezier(0.42, 0.0, 1, 1),
  standard: cubic-bezier(0.4, 0.0, 0.2, 1),
);

$pattern-names: (breathe, skeleton-loading, spin);
$default-pattern: (
  breathe: (
    duration: loop,
    easing: standard,
  ),
  skeleton-loading: (
    duration: loop,
    easing: standard,
  ),
  spin: (
    duration: loop,
    easing: entrance,
  ),
);

$default-options: (
  durations: $default-durations,
  easings: $default-easings,
);

@function is-duration-name-valid($duration-name) {
  @return list.includes($duration-names, $duration-name);
}

@function is-easing-name-valid($easing-name) {
  @return list.includes($easing-names, $easing-name);
}

@function is-pattern-name-valid($pattern-name) {
  @return list.includes($pattern-names, $pattern-name);
}

@function duration($duration-name) {
  @if not is-duration-name-valid($duration-name) {
    @error 'Invalid duration name #{$duration-name}. Please choose one of #{$duration-names}';
  }

  @return var(--#{$prefix}-duration-#{$duration-name});
}

@function easing($easing-name) {
  @if not is-easing-name-valid($easing-name) {
    @error 'Invalid easing name #{$easing-name}. Please choose one of #{$easing-names}';
  }

  @return var(--#{$prefix}-easing-#{$easing-name});
}

@mixin variables($options: ()) {
  $options: map.deep-merge($default-options, $options);
  $durations: map.get($options, durations);
  $easings: map.get($options, easings);

  @each $name, $value in $durations {
    --#{$prefix}-duration-#{$name}: #{$value};
  }

  @each $name, $value in $easings {
    --#{$prefix}-easing-#{$name}: #{$value};
  }
}

@mixin pattern($pattern-name, $action-name: animation) {
  @if not is-pattern-name-valid($pattern-name) {
    @error 'Invalid pattern name #{$pattern-name}. Please choose one of #{$pattern-names}';
  }

  $pattern: map.get($default-pattern, $pattern-name);

  @if $pattern {
    $duration-name: map.get($pattern, duration);
    $easing-name: map.get($pattern, easing);

    #{$action-name}-duration: duration($duration-name);
    #{$action-name}-timing-function: easing($easing-name);
  }
}
