@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/z-index';
@use '../text-field';
@use './date-picker' as *;

.#{$prefix} {
  input {
    padding-left: var(--#{text-field.$prefix}-padding-left);
    padding-right: var(--#{text-field.$prefix}-padding-right);
  }
}

.#{$prefix}__popper {
  z-index: z-index.get(popover);
}

.#{$calendar-prefix} {
  border: 1px solid palette.color(border);
}
