@use '../select/select' as select;
@use './autocomplete' as *;
@use '~@mezzanine-ui/system/spacing' as spacing;

.#{$prefix} {
  position: relative;

  &--single {
    min-width: spacing.semantic-variable(size, container, snug);
  }

  &--multiple {
    min-width: spacing.semantic-variable(size, container, slim);
  }

  &--full-width {
    width: 100%;
  }

  &--inside-closed {
    .#{select.$trigger-prefix} {
      opacity: 0;
      pointer-events: none;
    }
  }

  .#{select.$trigger-prefix}__input {
    padding: 0;
  }
}

