@use '../select/select' as select;
@use '../text-field/text-field' as text-field;
@use './autocomplete' as *;
@use '~@mezzanine-ui/system/spacing' as spacing;

.#{$prefix} {
  position: relative;

  &--single {
    min-width: spacing.semantic-variable(size, container, concentrate-fixed);

    &:has(.#{select.$trigger-prefix} .#{text-field.$prefix}__prefix) {
      min-width: spacing.semantic-variable(size, container, small);
    }
  }

  &--multiple {
    min-width: spacing.semantic-variable(size, container, snug);

    &:has(.#{select.$trigger-prefix} .#{text-field.$prefix}__prefix) {
      min-width: spacing.semantic-variable(size, container, small);
    }
  }

  &--full-width {
    width: 100%;
  }

  &--inside-closed {
    .#{select.$trigger-prefix} {
      opacity: 0;
      pointer-events: none;
    }
  }

  .#{select.$trigger-prefix}__input {
    padding: 0;
  }
}
