@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/z-index';
@use '../text-field';
@use './date-range-picker' as *;

.#{$calendar-group-prefix} {
  display: flex;
}

.#{$calendar} {
  position: relative;

  &--inactive {
    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background-color: palette.color(overlay-bg);
    }
  }
}
