@use '~@mezzanine-ui/system/effect' as effect;
@use '~@mezzanine-ui/system/palette' as palette;
@use '~@mezzanine-ui/system/radius' as radius;
@use '~@mezzanine-ui/system/spacing' as spacing;
@use '~@mezzanine-ui/system/transition' as transition;
@use '~@mezzanine-ui/system/typography';
@use '../button/utils' as btn-utils;
@use '../icon';
@use './navigation' as *;
@use './utils';

// spacing.semantic-variable(padding, vertical, tight) * 2 + 16px(icon size, text height)
$vertical-item-height: 28px !default;

$background: background;

.#{$prefix} {
  @include typography.variant(button2);

  overflow: hidden;
  background-color: palette.semantic-variable($background, base);
  color: palette.color(action-inactive);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__content {
    padding: spacing.semantic-variable(padding, vertical, base)
      spacing.semantic-variable(padding, horizontal, comfort-fixed);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: spacing.semantic-variable(gap, tight-fixed);

    > ul {
      @include utils.reset();

      display: grid;
      gap: spacing.semantic-variable(gap, tight);
    }
  }

  &--vertical {
    width: spacing.semantic-variable(size, container, slim);
    height: 100%;

    .#{$option-prefix} {
      display: grid;
      box-sizing: border-box;
      align-items: center;
      gap: spacing.semantic-variable(gap, tight);
      height: unset;

      &__content {
        align-items: center;
        border-radius: radius.variable(base);
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        gap: spacing.semantic-variable(gap, tight);
        padding: spacing.semantic-variable(padding, vertical, tight)
          spacing.semantic-variable(padding, horizontal, tight-fixed);
        transition: transition.standard(background-color, fast);

        &:hover {
          .#{$option-prefix}__icon {
            color: palette.semantic-variable(text, neutral-solid);
          }

          background-color: palette.semantic-variable($background, neutral-faint);
        }
      }

      &__icon {
        width: spacing.semantic-variable(size, element, base);
        height: spacing.semantic-variable(size, element, base);
        color: palette.semantic-variable(icon, neutral);
      }

      &__title {
        color: palette.semantic-variable(text, neutral-solid);
      }

      &--active {
        .#{$option-prefix}__content {
          background-color: palette.semantic-variable($background, brand-ghost);
        }
      }

      &--basic.#{$option-prefix}--active {
        .#{$option-prefix}__title {
          color: palette.semantic-variable(text, brand-solid);
        }

        .#{$option-prefix}__content {
          background-color: palette.semantic-variable($background, brand-faint);
        }
      }

      &__group {
        @include utils.reset();

        display: grid;
      }

      &__toggle-icon {
        margin-left: auto;
      }

      &--level-1 {
        margin-left: 0;
      }

      &--level-2 {
        margin-left: spacing.semantic-variable(padding, horizontal, relaxed);
      }

      &--level-3 {
        margin-left: spacing.semantic-variable(padding, horizontal, breath);
      }
    }
  }
}

.#{$header-prefix} {
  @include typography.semantic-variable(h3);

  align-items: center;
  border-bottom: 1px solid palette.semantic-variable(separator, neutral-faint);
  box-sizing: border-box;
  display: flex;
  gap: spacing.semantic-variable(gap, comfort);
  justify-content: space-between;
  padding: spacing.semantic-variable(padding, horizontal, comfort)
    spacing.semantic-variable(padding, horizontal, comfort-fixed)
    spacing.semantic-variable(padding, vertical, base);
  width: 100%;

  &__content {
    align-items: center;
    color: palette.semantic-variable(text, neutral-solid);
    display: flex;
    flex-grow: 1;
    gap: spacing.semantic-variable(gap, base);
    height: 100%;
  }
}

.#{$footer-prefix} {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid palette.color(divider);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: spacing.semantic-variable(padding, vertical, base)
    spacing.semantic-variable(padding, horizontal, comfort-fixed)
    spacing.semantic-variable(padding, vertical, comfort);
  gap: spacing.semantic-variable(gap, tight-fixed);

  &__icons {
    display: flex;
    align-items: center;
    gap: spacing.semantic-variable(gap, tiny);
  }
}

.#{$icon-button-prefix} {
  @include btn-utils.reset();

  align-items: center;
  justify-content: center;
  border-radius: radius.variable(base);
  box-sizing: border-box;
  color: palette.semantic-variable(icon, neutral);
  display: flex;
  padding: spacing.semantic-variable(padding, vertical, tight-fixed)
    spacing.semantic-variable(padding, horizontal, tight-fixed);
  transition: transition.standard(background-color, fast);
  width: spacing.semantic-variable(size, element, airy);
  height: spacing.semantic-variable(size, element, airy);

  &:hover {
    background-color: palette.semantic-variable($background, neutral-faint);
  }

  &:focus-visible {
    box-shadow: effect.variable(focus, primary);
  }
}

.#{$user-menu-prefix} {
  @include btn-utils.reset();

  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: spacing.semantic-variable(gap, tight-fixed);
  width: fit-content;
  border-radius: radius.variable(base);
  padding: spacing.semantic-variable(padding, vertical, micro)
    spacing.semantic-variable(padding, horizontal, tiny);

  &__avatar {
    box-sizing: border-box;
    width: spacing.semantic-variable(size, element, airy);
    height: spacing.semantic-variable(size, element, airy);
    border-radius: radius.variable(full);
    background-color: palette.semantic-variable($background, neutral);
    color: palette.semantic-variable(icon, fixed-light);
    border: 1px solid palette.semantic-variable($background, neutral-subtle);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-name {
    @include typography.variant(caption);

    color: palette.semantic-variable(text, neutral-solid);
  }

  &__icon {
    color: palette.semantic-variable(icon, neutral-bold);
    transition: transition.standard(transform, fast);
  }

  &--open {
    background-color: palette.semantic-variable($background, neutral-subtle);

    .#{$user-menu-prefix}__icon {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:active {
    background-color: palette.semantic-variable($background, neutral-subtle);
  }

  &:focus-visible {
    box-shadow: effect.variable(focus, primary);
  }
}

.#{$option-category-prefix} {
  box-sizing: border-box;
  width: 100%;

  &__title {
    @include typography.variant(annotation);

    color: palette.semantic-variable(text, neutral-light);
    padding: spacing.semantic-variable(padding, vertical, micro)
      spacing.semantic-variable(padding, horizontal, tight-fixed);
  }

  > ul {
    @include utils.reset();

    display: grid;
    gap: spacing.semantic-variable(gap, tight);
  }
}
