@use '~@mezzanine-ui/system/effect' as effect;
@use '~@mezzanine-ui/system/palette' as palette;
@use '~@mezzanine-ui/system/radius' as radius;
@use '~@mezzanine-ui/system/spacing' as spacing;
@use '~@mezzanine-ui/system/transition' as transition;
@use '~@mezzanine-ui/system/typography';
@use '../button/utils' as btn-utils;
@use '../icon';
@use './navigation' as *;
@use './utils';

// option icon and text height
$option-icon-size: spacing.semantic-variable(size, element, base) !default;
$option-height: calc(spacing.semantic-variable(padding, vertical, tight) * 2 + #{$option-icon-size}) !default;

.#{$prefix} {
  overflow: hidden;
  background-color: palette.semantic-variable('background', base);
  border-right: 1px solid palette.semantic-variable(separator, neutral-faint);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__content {
    box-sizing: border-box;
    padding: spacing.semantic-variable(padding, vertical, base)
      spacing.semantic-variable(padding, horizontal, comfort-fixed);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: spacing.semantic-variable(gap, tight-fixed);
    margin-right: -1px;

    > ul {
      @include utils.reset();

      display: grid;
      gap: spacing.semantic-variable(gap, tight);
    }
  }

  &--expand {
    width: spacing.semantic-variable(size, container, slim);
    height: 100%;

    .#{$prefix}__content {
      overflow-y: auto;
    }
  }

  &--collapsed {
    width: spacing.semantic-variable(size, container, collapsed);
    height: 100%;
    max-height: 100%;

    .#{$prefix}__search-input,
    .#{$option-category-prefix}__title {
      display: none;
    }


  }
}

.#{$header-prefix} {
  align-items: center;
  border-bottom: 1px solid palette.semantic-variable(separator, neutral-faint);
  box-sizing: border-box;
  display: flex;
  gap: spacing.semantic-variable(gap, comfort);
  justify-content: space-between;
  padding: spacing.semantic-variable(padding, vertical, comfort)
    spacing.semantic-variable(padding, horizontal, comfort-fixed)
    spacing.semantic-variable(padding, vertical, base);
  position: relative;
  width: 100%;
    flex-direction: row-reverse;

  &__content {
    align-items: center;
    color: palette.semantic-variable(text, neutral-solid);
    display: flex;
    gap: spacing.semantic-variable(gap, base);
    height: 100%;
  }

  &__title {
    @include typography.semantic-variable(h3);
  }


  &--collapsed {
    .#{$header-prefix}__content {
      left: spacing.semantic-variable(padding, horizontal, comfort-fixed);
      position: absolute;
      transition: transition.standard(opacity, fast);
      pointer-events: none;

      &:hover {
        opacity: 0;
      }
    }

    .#{$header-prefix}__title {
      display: none;
    }


    &:hover {
      .#{$header-prefix}__content {
        opacity: 0;
      }
    }
  }
}

.#{$footer-prefix} {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: spacing.semantic-variable(padding, vertical, base)
    spacing.semantic-variable(padding, horizontal, comfort-fixed)
    spacing.semantic-variable(padding, vertical, comfort);
  gap: spacing.semantic-variable(gap, tight-fixed);

  &__icons {
    display: flex;
    align-items: center;
    gap: spacing.semantic-variable(gap, tiny);
  }

  &--collapsed {
    display: flex;
    flex-direction: column-reverse;

    .#{$footer-prefix}__icons {
      display: flex;
      flex-direction: column;
    }

    .#{$user-menu-prefix} {
      padding: 0;
      width: 100%;

      > :not(:first-child) {
        display: none;
      }
    }
  }
}

.#{$option-prefix} {
  align-items: center;
  border: none;
  box-sizing: border-box;
  display: grid;
  flex-shrink: 1;
  gap: spacing.semantic-variable(gap, tight);
  height: unset;
  outline: none;
  width: 100%;

  &__content {
    align-items: center;
    border-radius: radius.variable(base);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    width: 100%;
    gap: spacing.semantic-variable(gap, tight);
    padding: spacing.semantic-variable(padding, vertical, tight)
      spacing.semantic-variable(padding, horizontal, tight-fixed);
    transition: transition.standard(background-color, fast), transition.standard(color, fast);
    text-decoration: none;

    .#{$option-prefix}__title {
      @include typography.semantic-variable(label-primary-highlight, (line-height));

      color: palette.semantic-variable(text, neutral-solid);
      line-height: #{$option-icon-size};
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .#{$option-prefix}__icon {
      color: palette.semantic-variable(icon, neutral);
      height: #{$option-icon-size};
      width: #{$option-icon-size};
    }

    .#{$option-prefix}__toggle-icon {
      color: palette.semantic-variable(icon, neutral);
      height: spacing.semantic-variable(size, element, slim);
      margin-left: auto;
      width: spacing.semantic-variable(size, element, slim);
    }

    &:hover {
      .#{$option-prefix}__icon,
      .#{$option-prefix}__toggle-icon {
        color: palette.semantic-variable(icon, neutral-solid);
      }

      background-color: palette.semantic-variable('background', neutral-faint);
    }

    &:focus-visible {
      box-shadow: effect.variable(focus, primary);
    }
  }

  &--active.#{$option-prefix}--open {
    .#{$option-prefix}__content {
      background-color: palette.semantic-variable('background', brand-ghost);
    }
  }

  &--active {
    .#{$option-prefix}__content {
      .#{$option-prefix}__title {
        color: palette.semantic-variable(text, brand);
      }

      .#{$option-prefix}__icon {
        color: palette.semantic-variable(icon, brand);
      }
    }
  }

  &--active.#{$option-prefix}--basic {
    .#{$option-prefix}__content {
      background-color: palette.semantic-variable('background', brand-faint);

      .#{$option-prefix}__title {
        color: palette.semantic-variable(text, brand-solid);
      }

      .#{$option-prefix}__icon {
        color: palette.semantic-variable(icon, brand-solid);
      }
    }
  }

  &__group {
    @include utils.reset();

    display: grid;
  }


  &--level-1 {
    margin-left: 0;
  }

  &--level-2 {
    margin-left: spacing.semantic-variable(padding, horizontal, relaxed);
    width: calc(
      100% - spacing.semantic-variable(padding, horizontal, relaxed)
    );

    .#{$option-prefix}__title {
      @include typography.semantic-variable(label-secondary, (line-height));
    }
  }

  &--level-3 {
    margin-left: spacing.semantic-variable(padding, horizontal, breath);
    width: calc(100% - spacing.semantic-variable(padding, horizontal, breath));

    .#{$option-prefix}__title {
      @include typography.semantic-variable(label-secondary, (line-height));
    }
  }

  &--collapsed {
    .#{$option-prefix}__children-wrapper {
      display: none;
    }

    .#{$option-prefix}__content {
      > :not(:first-child, .mzn-tooltip) {
        display: none;
      }
    }

    .#{$option-prefix}__title {
      @include typography.semantic-variable(label-secondary, (line-height));

      text-overflow: clip;
    }
  }
}

.#{$icon-button-prefix} {
  @include btn-utils.reset();

  align-items: center;
  justify-content: center;
  border-radius: radius.variable(base);
  box-sizing: border-box;
  color: palette.semantic-variable(icon, neutral);
  display: flex;
  padding: spacing.semantic-variable(padding, vertical, tight-fixed)
    spacing.semantic-variable(padding, horizontal, tight-fixed);
  transition: transition.standard(background-color, fast);
  width: spacing.semantic-variable(size, element, airy);
  height: spacing.semantic-variable(size, element, airy);

  &:hover {
    background-color: palette.semantic-variable('background', neutral-faint);
  }

  &:focus-visible {
    box-shadow: effect.variable(focus, primary);
  }
}

.#{$user-menu-prefix} {
  @include btn-utils.reset();

  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: spacing.semantic-variable(gap, tight-fixed);
  width: fit-content;
  border-radius: radius.variable(base);
  padding: spacing.semantic-variable(padding, vertical, micro)
    spacing.semantic-variable(padding, horizontal, tiny);

  &__avatar {
    box-sizing: border-box;
    width: spacing.semantic-variable(size, element, airy);
    height: spacing.semantic-variable(size, element, airy);
    border-radius: radius.variable(full);
    background-color: palette.semantic-variable('background', neutral);
    color: palette.semantic-variable(icon, fixed-light);
    border: 1px solid palette.semantic-variable('background', neutral-subtle);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__user-name {
    @include typography.semantic-variable(caption);

    color: palette.semantic-variable(text, neutral-solid);
  }

  &__icon {
    color: palette.semantic-variable(icon, neutral-bold);
    transition: transition.standard(transform, fast);
  }

  &--open {
    background-color: palette.semantic-variable('background', neutral-subtle);

    .#{$user-menu-prefix}__icon {
      transform: rotate(180deg);
    }
  }

  &:hover,
  &:active {
    background-color: palette.semantic-variable('background', neutral-subtle);
  }

  &:focus-visible {
    box-shadow: effect.variable(focus, primary);
  }
}

.#{$option-category-prefix} {
  box-sizing: border-box;
  display: grid;
  gap: spacing.semantic-variable(gap, tight);

  &__title {
    @include typography.semantic-variable(annotation);

    color: palette.semantic-variable(text, neutral-light);
    padding: spacing.semantic-variable(padding, vertical, micro)
      spacing.semantic-variable(padding, horizontal, tight-fixed);
  }

  > ul {
    @include utils.reset();

    display: grid;
    gap: spacing.semantic-variable(gap, tight);
  }
}
