$prefix: mzn-navigation;

$item-prefix: #{$prefix}-item;
$sub-menu-prefix: #{$prefix}-sub-menu;
$header-prefix: #{$prefix}-header;
$footer-prefix: #{$prefix}-footer;
$icon-button-prefix: #{$prefix}-icon-button;
$user-menu-prefix: #{$prefix}-user-menu;
$option-category-prefix: #{$prefix}-option-category;
