@use '~@mezzanine-ui/system/effect' as effect;
@use '~@mezzanine-ui/system/palette' as palette;
@use '~@mezzanine-ui/system/radius' as radius;
@use '~@mezzanine-ui/system/spacing' as spacing;
@use '~@mezzanine-ui/system/transition' as transition;
@use '~@mezzanine-ui/system/typography';
@use './navigation' as *;
@use '../icon';
@use './utils';

$vertical-max-width: 256px !default;
$vertical-item-height: 32px !default;
$vertical-toggle-icon-gap: 8px !default;
$vertical-icon-gap: 8px !default;
$vertical-group-indent: 8px !default;
$vertical-group-icon-indent: 40px !default;

$background: background;

$icon-size: 24px !default;

.#{$prefix} {
  @include utils.reset();
  @include typography.variant(button2);

  overflow: hidden;
  background-color: palette.semantic-variable($background, base);
  color: palette.color(action-inactive);
  display: grid;

  &--vertical {
    width: $vertical-max-width;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    padding: spacing.level(5);
    height: 100%;
    gap: spacing.level(2);

    .#{$item-prefix} {
      align-items: center;
      height: $vertical-item-height;
      grid-auto-flow: column;
      // padding: 0 $horizontal-item-padding-x;
      overflow: hidden;
      max-width: 100%;

      &__icon {
        margin-right: $vertical-icon-gap;
      }

      &--active,
      &:hover {
        background-color: palette.color(primary-hover-bg);
        color: palette.color(primary);
      }
    }

    .#{$sub-menu-prefix} {
      flex-direction: column;
      height: unset;
      padding: 0;
      min-height: $vertical-item-height;

      &__icon {
        margin-right: $vertical-icon-gap;
      }

      &__title {
        // padding: 0 $horizontal-item-padding-x;
        width: 100%;

        &:hover {
          background-color: palette.color(primary-hover-bg);
          color: palette.color(primary);
        }
      }

      &__group {
        display: grid;
        padding-left: $vertical-group-indent;
        gap: spacing.level(2);
        margin-top: spacing.level(2);

        .#{$item-prefix} {
          height: $vertical-item-height;

          &--active,
          &:hover {
            background-color: palette.color(primary-hover-bg);
            color: palette.color(primary);
          }
        }
      }

      &__toggle-icon {
        margin-left: auto;
      }

      &--indent {
        .#{$sub-menu-prefix}__group {
          padding-left: $vertical-group-icon-indent;
        }
      }

      &--active {
        .#{$sub-menu-prefix}__title {
          background-color: palette.color(primary-hover-bg);
          color: palette.color(primary);
        }
      }

      &--open {
        .#{$sub-menu-prefix}__title {
          color: palette.color(primary);
        }
      }

      &:hover {
        color: unset;
        background-color: unset;
      }
    }
  }
}

.#{$item-prefix} {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  cursor: pointer;

  .#{icon.$prefix} {
    width: $icon-size;
    height: $icon-size;
  }
}

.#{$sub-menu-prefix} {
  box-sizing: border-box;

  &__title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &__group {
    @include utils.reset();
  }
}

.#{$header-prefix} {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: spacing.semantic-variable(gap, comfort);
  align-items: center;
  width: 100%;
  border-bottom: 1px solid palette.semantic-variable(separator, neutral-faint);
  padding: spacing.semantic-variable(padding, horizontal, comfort) spacing.semantic-variable(padding, horizontal, comfort-fixed) spacing.semantic-variable(padding, vertical, base);
  @include typography.semantic-variable(h3);

  &__content {
    align-items: center;
    color: palette.semantic-variable(text, neutral-solid);
    display: flex;
    flex-grow: 1;
    gap: spacing.semantic-variable(gap, base);
    height: 100%;
  }

  &__sider-icon {
    color: palette.semantic-variable(icon, neutral);
    padding: spacing.semantic-variable(padding, vertical, tight-fixed) spacing.semantic-variable(padding, horizontal, tight-fixed);
    width: spacing.semantic-variable(size, element, base-fixed);
  }
}

.#{$footer-prefix} {
  box-sizing: border-box;
  width: 100%;
  border-top: 1px solid palette.color(divider);
}
