@use 'sass:map';
@use '~@mezzanine-ui/system/size';
@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/transition';
@use '~@mezzanine-ui/system/typography';
@use '../icon';
@use '../form';
@use './text-field' as *;

$min-width: 160px !default;
$min-width-small: 132px !default;
$padding-x: 16px !default;
$padding-x-small: 12px !default;
$icon-size: 24px !default;
$icon-size-small: 16px !default;
$prefix-suffix-gap: 4px !default;

.#{$prefix} {
  --#{$prefix}-icon-size: #{typography.px-to-rem($icon-size)};
  --#{$prefix}-padding-x: #{$padding-x};
  --#{$prefix}-padding-x-prefix: calc(var(--#{$prefix}-padding-x) + var(--#{$prefix}-icon-size));
  --#{$prefix}-padding-left: var(--#{$prefix}-padding-x);
  --#{$prefix}-padding-right: var(--#{$prefix}-padding-x);
  --#{$prefix}-prefix-x-gap: calc(var(--#{$prefix}-padding-x) - #{$prefix-suffix-gap});
  --#{$prefix}-interact-icon-color: var(--#{form.$field-prefix}-severity-color, var(--#{$prefix}-status-color));

  position: relative;
  display: inline-flex;
  min-width: $min-width;
  height: auto;
  min-height: var(--#{$prefix}-height);
  background-color: palette.color(surface);
  border: 1px solid var(--#{form.$field-prefix}-severity-color, var(--#{$prefix}-status-color, palette.color(border)));
  color: palette.color(text-primary);
  caret-color: palette.color(text-primary);
  transition: transition.standard(background-color), transition.standard(border), transition.standard(color);
  will-change: background-color, border-color, color;
  box-sizing: border-box;

  input,
  textarea {
    font: inherit;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    color: inherit;
    outline: none;
    resize: none;
    box-sizing: border-box;
  }

  ::placeholder,
  &__placeholder {
    color: palette.color(text-secondary);
  }

  &__prefix,
  &__suffix,
  &__clear-icon,
  &__action-icon {
    position: absolute;
    top: calc((var(--#{$prefix}-height) - var(--#{$prefix}-icon-size) - 2px) / 2);
  }

  &__prefix,
  &__suffix {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__prefix {
    left: var(--#{$prefix}-prefix-x-gap);
  }

  &__suffix,
  &__clear-icon,
  &__action-icon {
    right: var(--#{$prefix}-prefix-x-gap);
  }

  &__clear-icon,
  &__action-icon {
    background-color: inherit;
    border: none;
    color: var(--#{$prefix}-interact-icon-color);
    padding: 0;
    outline: none;
    cursor: pointer;
  }

  &__clear-icon {
    opacity: 0;
    pointer-events: none;
  }

  &__action-icon {
    opacity: 1;
  }

  .#{icon.$prefix} {
    font-size: var(--#{$prefix}-icon-size);
    transition: transition.standard(color), transition.standard(opacity);
    will-change: color, opacity;
  }

  &:not(.#{$prefix}--disabled) {
    .#{icon.$prefix} {
      &:not(.#{$prefix}__clear-icon)
      &:not(.#{$prefix}__action-icon) {
        color: palette.color(action-inactive);
      }
    }
  }

  &--active {
    &:hover,
    &:focus-within {
      &:not(.#{$prefix}--disabled) {
        .#{$prefix}__clear-icon {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }

  &--error {
    --#{$prefix}-status-color: #{palette.color(error)};
  }

  &--disabled {
    background-color: palette.color(action-disabled-bg);
    border-color: transparent;
    color: palette.color(text-disabled);

    &,
    input,
    textarea {
      pointer-events: none;
      cursor: default;
    }

    .#{icon.$prefix} {
      color: palette.color(action-disabled);
    }
  }

  &--prefix {
    --#{$prefix}-padding-left: var(--#{$prefix}-padding-x-prefix);
  }

  &--clearable,
  &--suffix {
    --#{$prefix}-padding-right: var(--#{$prefix}-padding-x-prefix);
  }

  &--full-width {
    width: 100%;
  }

  &:hover,
  &:focus-within {
    &:not(.#{$prefix}--disabled) {
      &:not(.#{$prefix}--error, .#{form.$field-prefix}--success, .#{form.$field-prefix}--error, .#{form.$field-prefix}--warning) {
        --#{$prefix}-status-color: #{palette.color(primary)};
      }
    }
  }

  @each $size in $sizes {
    $typography-variant: map.get(
      (
        small: input3,
        medium: input2,
        large: input1,
      ),
      $size
    );

    &--#{$size} {
      --#{$prefix}-height: #{typography.prop($typography-variant, line-height)};

      @if $size == small {
        --#{$prefix}-padding-x: #{$padding-x-small};
        --#{$prefix}-icon-size: #{typography.px-to-rem($icon-size-small)};

        min-width: $min-width-small;
      }

      @include typography.variant($typography-variant);
    }
  }
}
