@use '../motion';

@function standard($property, $duration: motion.duration(moderate), $delay: 0ms) {
  @warn 'Deprecated function standard(). Please update to use other motion functions.';

  @return $property $duration motion.easing(standard) $delay;
}
