@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/spacing';
@use '~@mezzanine-ui/system/transition';
@use '../_internal/input-check';
@use './radio' as *;

.#{$prefix} {
  --#{$prefix}-dot-size: #{spacing.semantic-variable(size, element, tight)};
  --#{$prefix}-dot-top: calc((100% - var(--#{$prefix}-dot-size)) / 2);

  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid palette.semantic-variable('border', neutral);
  background-color: palette.semantic-variable('background', base);
  transition: transition.standard(border-color, fast);
  will-change: border-color;
  box-sizing: border-box;

  &::before {
    display: block;
    position: absolute;
    content: '';
    top: var(--#{$prefix}-dot-top);
    left: var(--#{$prefix}-dot-top);
    width: var(--#{$prefix}-dot-size);
    height: var(--#{$prefix}-dot-size);
    border-radius: 50%;
    transition: transition.standard(background-color, fast);
    will-change: background-color;
  }

  &--checked {
    &::before {
      background-color: var(--#{input-check.$prefix}-color);
    }
  }

  &--error {
    border-color: palette.semantic-variable('border', error-subtle)
  }

  &:hover,
  .#{input-check.$prefix}:hover &,
  &--checked,
  &--focused,
  .#{input-check.$prefix}--disabled & {
    border-color: var(--#{input-check.$prefix}-color);
  }

  .#{input-check.$prefix}:hover &--checked {
    &::before {
      background-color:  var(--#{input-check.$prefix}-checked-hover-color);
    }
  }

  .#{input-check.$prefix}--disabled & {
    background-color: #E5E7EB; // TODO: --background-neutral-subtle-disabled,

    &--checked {
      &::before {
        background-color: palette.semantic-variable('background', neutral);
      }
    }
  }

  &__wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: spacing.semantic-variable(gap, base);
  }
}

