@use '~@mezzanine-ui/system/palette';
@use '~@mezzanine-ui/system/transition';
@use './switch' as *;

$width: 36px !default;
$width-large: 48px !default;
$height: 18px !default;
$height-large: 24px !default;
$control-gap: 2px !default;

$icon-size: $height - ($control-gap * 2);
$icon-size-large: $height-large - ($control-gap * 2);

.#{$prefix} {
  --#{$prefix}-width: #{$width};
  --#{$prefix}-height: #{$height};
  --#{$prefix}-icon-size: #{$icon-size};

  display: inline-block;
  position: relative;
  width: var(--#{$prefix}-width);
  height: var(--#{$prefix}-height);
  background-color: palette.color(action-disabled);
  border-radius: calc(var(--#{$prefix}-height) / 2);
  transition: transition.standard(background-color), transition.standard(color);
  will-change: background-color, color;
  box-sizing: border-box;

  &__input {
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }

  &__control {
    position: absolute;
    content: '';
    top: $control-gap;
    left: $control-gap;
    font-size: var(--#{$prefix}-icon-size);
    line-height: 0;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: palette.color(on-primary);
    transition: transition.standard(left);
    will-change: left;
  }

  &--disabled {
    background-color: palette.color(action-disabled-bg);
    color: palette.color(action-disabled-bg);

    .#{$prefix}__input {
      cursor: default;
      pointer-events: none;
    }
  }

  &--checked {
    background-color: palette.color(primary);

    &.#{$prefix}--disabled {
      background-color: palette.color(primary-light);
      color: palette.color(primary-light);
    }

    .#{$prefix}__control {
      left: calc(100% - (var(--#{$prefix}-icon-size) + #{$control-gap}));
    }
  }

  &--large {
    --#{$prefix}-width: #{$width-large};
    --#{$prefix}-height: #{$height-large};
    --#{$prefix}-icon-size: #{$icon-size-large};
  }
}
